﻿<div class="inv bg-white">
    <div class="row">
        <div class="col-md-1 col-xs-3">
            <div class="back-box" onclick="loadTasks()">
                <i class="fa fa-arrow-circle-left fa-back"></i>
            </div>
        </div>
        <div class="col-md-11 col-xs-9 ">
            <h3> Tasks</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="tabs">
                <li class="tab-link current" data-tab="tab-1">VIEW INVESTMENTS</li>
                <li class="tab-link hidden" data-tab="tab-2">EDIT BUSINESS CASE MEMOS</li>
            </ul>
            <div id="tab-1" class="tab-content current">
                <div class="row">
                    <div class="col-md-12">
                        <table id="tbcase" class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Districts</th>
                                    <th>State</th>
                                    <th>IM(1)</th>
                                    <th>IM(2)</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="tab-2" class="tab-content">
                <div class="row business_case form-horizontal">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Reference No:</label>
                                <span class="bbs-ref"></span>
                            </div>
                            <div class="col-md-push-6 col-md-2">
                                <div class="row iconbl fr">
                                    <div class="col-lg-4 col-sm-4"><a href="javascript:void(0)" title="Enable Edit" onclick="editMemo()"><i class="fa fa fa-edit fa-2x"></i> <span></span></a></div>
                                    <div class="col-lg-4 col-sm-4"><a href="javascript:void(0)" title="Print" onclick="window.print();"><i class="fa fa fa-print fa-2x"></i> <span></span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-bordered table-responsive bbs_case_table">
                            <thead>
                                <tr>
                                    <th class="w25"></th>
                                    <th class="w25"></th>
                                    <th class="w25"></th>
                                    <th class="w25"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="td-title"><b>Business Case Title:</b></td>
                                    <td>
                                        <input type="text" id="bbs-title" class="edit form-control" style="display:none">
                                        <div id="bbs-title1" class="read"></div>
                                    </td>
                                    <td class="td-title"><b>Source of Proposal</b></td>
                                    <td>
                                        <select class="form-control selectpicker" name="source_of_proposal" id="proposalSrc" disabled
                                                data-placeholder="Source of Proposal">
                                            <option value=""></option>
                                            <option value="Federal Government">Federal Government</option>
                                            <option value="Federal Member States">Federal Member States</option>
                                            <option value="Fund Manager">Fund Manager</option>
                                            <option value="Government">Government</option>
                                            <option value="Joint Donor Committee">Joint Donor Committee</option>
                                            <option value="Secretariat Office">Secretariat Office</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Estimated Fund Ceiling</b></td>
                                    <td>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                $
                                            </div>
                                            <input type="text" disabled name="estimated_fund_ceiling" class="form-control" name="estimated_fund_ceiling" id="fundceiling" placeholder="Estimated Fund Ceiling" />
                                        </div>
                                    </td>
                                    <td class="td-title"><b>Output 1</b></td>
                                    <td>
                                        <select class="form-control selectpicker" disabled name="output" id="output" data-placeholder="Outputs" disabled>
                                            <option value=""></option>
                                            <option>Fault-lines for political conflict (FGS-FMS, inter & intra state) are identified and appropriately addressed</option>
                                            <option>Enhanced popular participation in governance, particularly for women and excluded communities</option>
                                            <option>Increased government visibility and community engagement</option>
                                            <option>Reduced community vulnerability to conflict</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Location/Federal State</b></td>
                                    <td>
                                        <select class="form-control selectpicker" name="state" id="state" data-placeholder="Location(Federal State)" disabled>
                                            <option value=""></option>
                                            <option value="Banadir" data-initial="BR">Banadir</option>
                                            <option value="Galmudug State of Somalia" data-initial="GS">Galmudug State of Somalia</option>
                                            <option value="Hiraan &amp; Middle Shabelle" data-initial="HM">Hiraan &amp; Middle Shabelle</option>
                                            <option value="Jubbaland State of Somalia" data-initial="JS">Jubbaland State of Somalia</option>
                                            <option value="Multi-Region" data-initial="MR">Multi-Region</option>
                                            <option value="Nationwide" data-initial="NW">Nationwide</option>
                                            <option value="Non-Specific" data-initial="NS">Non-Specific</option>
                                            <option value="Puntland" data-initial="PL">Puntland</option>
                                            <option value="Somaliland" data-initial="SL">Somaliland</option>
                                            <option value="Sool &amp; Sanaag" data-initial="SS">Sool &amp; Sanaag</option>
                                            <option value="South West State" data-initial="SW">South West State</option>
                                        </select>
                                    </td>
                                    <td class="td-title"><b>Output 2</b></td>
                                    <td>
                                        <select class="form-control selectpicker" disabled name="output2" id="output2" data-placeholder="Output 2" disabled>
                                            <option value=""></option>
                                            <option>Fault-lines for political conflict (FGS-FMS, inter & intra state) are identified and appropriately addressed</option>
                                            <option>Enhanced popular participation in governance, particularly for women and excluded communities</option>
                                            <option>Increased government visibility and community engagement</option>
                                            <option>Reduced community vulnerability to conflict</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Location(s)/District(s)</b></td>
                                    <td>
                                        <select class="form-control selectpicker" name="district[]" id="district" data-placeholder="Location(Districts)" disabled multiple>
                                            <option value=""></option>
                                            <option value="Abudwak">Abudwak</option>
                                            <option value="Adado">Adado</option>
                                            <option value="Afmadow">Afmadow</option>
                                            <option value="Aluula">Aluula</option>
                                            <option value="Baidoa">Baidoa</option>
                                            <option value="Baki">Baki</option>
                                            <option value="Balacad">Balacad</option>
                                            <option value="Baraawe">Baraawe</option>
                                            <option value="Bardera">Bardera</option>
                                            <option value="Bardheere">Bardheere</option>
                                            <option value="Beled Haawo">Beled Haawo</option>
                                            <option value="Beletweyne">Beletweyne</option>
                                            <option value="Bosaso">Bosaso</option>
                                            <option value="Buaale">Buaale</option>
                                            <option value="Burao">Burao</option>
                                            <option value="Buuhoodle">Buuhoodle</option>
                                            <option value="Buuhoodle">Buuhoodle</option>
                                            <option value="Ceel Barde">Ceel Barde</option>
                                            <option value="Ceeldheer">Ceeldheer</option>
                                            <option value="Dhahar">Dhahar</option>
                                            <option value="Dhusamareb">Dhusamareb</option>
                                            <option value="Dinsoor">Dinsoor</option>
                                            <option value="El Buur">El Buur</option>
                                            <option value="Galkayo">Galkayo</option>
                                            <option value="Garbaharey">Garbaharey</option>
                                            <option value="Garowe">Garowe</option>
                                            <option value="Godinlabe">Godinlabe</option>
                                            <option value="Guriel">Guriel</option>
                                            <option value="Harardhere">Harardhere</option>
                                            <option value="Hargeisa">Hargeisa</option>
                                            <option value="Hobyo">Hobyo</option>
                                            <option value="Jowhar">Jowhar</option>
                                            <option value="Kismayo">Kismayo</option>
                                            <option value="Las Anod">Las Anod</option>
                                            <option value="Las Qorey">Las Qorey</option>
                                            <option value="Luuq">Luuq</option>
                                            <option value="Mogadishu">Mogadishu</option>
                                            <option value="Nationwide">Nationwide</option>
                                            <option value="Non-Specific">Non-Specific</option>
                                            <option value="Qardho">Qardho</option>
                                            <option value="Raskamboni">Raskamboni</option>
                                            <option value="Warsheikh">Warsheikh</option>
                                            <option value="Xudul">Xudul</option>
                                        </select>
                                    </td>
                                    <td class="td-title"><b>Output 3</b></td>
                                    <td>
                                        <select class="form-control selectpicker" disabled name="output3" id="output3" data-placeholder="Output 3" disabled>
                                            <option value=""></option>
                                            <option>Fault-lines for political conflict (FGS-FMS, inter & intra state) are identified and appropriately addressed</option>
                                            <option>Enhanced popular participation in governance, particularly for women and excluded communities</option>
                                            <option>Increased government visibility and community engagement</option>
                                            <option>Reduced community vulnerability to conflict</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>IM (1)</b></td>
                                    <td>
                                        <select id="primaryIM" name="primary_im" class="form-control selectpicker" data-placeholder="Primary IM..." disabled></select>
                                    </td>
                                    <td class="td-title"><b>Procurement Cycle</b></td>
                                    <td><textarea name="proc_cycle" id="proc_cycle" class="form-control" disabled></textarea></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>IM (2)</b></td>
                                    <td>
                                        <select class="form-control selectpicker" disabled id="secondaryIM" data-placeholder="Secondary IM..."></select>
                                    </td>
                                    <td class="td-title"><b>Investment Type</b></td>
                                    <td>
                                        <select class="form-control selectpicker" name="investee_type" id="inv_type" data-placeholder="Investee Type" disabled>
                                            <option value=""></option>
                                            <option value="AGA">AGA</option>
                                            <option value="AGA/CONSTRUCTION">AGA/CONSTRUCTION</option>
                                            <option value="AGA/LOAN">AGA/LOAN</option>
                                            <option value="Construction">Construction</option>
                                            <option value="Construction Management">Construction Management</option>
                                            <option value="Direct Invoice">Direct Invoice</option>
                                            <option value="Direct support to Federal Govt">Direct support to Federal Govt</option>
                                            <option value="Independent Consultant">Independent Consultant</option>
                                            <option value="Invoice Based">Invoice Based</option>
                                            <option value="MOU">MOU</option>
                                            <option value="Supplier">Supplier</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Procurement Type</b></td>
                                    <td>
                                        <label class="radio-inline">
                                            <input type="radio" class="proc_type" name="procurement_type" value="Limited/Closed" disabled>Limited/Closed
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" class="proc_type" name="procurement_type" value="Open" disabled>Open
                                        </label>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="td-title"><label>Problem Statement Analysis</label></td>
                                    <td colspan="3">
                                        <textarea name="problem_statement" id="prob_stat" class="form-control" disabled></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title"><label>Recommendation to Head of SSF</label></td>
                                    <td colspan="3">
                                        <textarea name="recommendation" id="rec" class="form-control" disabled></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title"><label>Justification &amp; Alignment with SSF strategy</label></td>
                                    <td colspan="3">
                                        <textarea name="justification" id="just" class="form-control" disabled></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title"><label>Attachments</label></td>
                                    <td colspan="3">
                                        <span id="attachments"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title"><label for="comment">Comment</label></td>
                                    <td colspan="3">
	                                    <span>TL :</span><span id="bbs-tlcomment"></span><br>
	                                    <span>SO :</span><span id="bbs-socomment"></span><br>
	                                    <textarea name="comment" id="comment" class="form-control"></textarea>
                                    </td>
                                </tr>                               
                                <tr>
                                    <td colspan="2"></td>
                                    <td colspan="2">
                                        <button class="btn btn-success" type="button" onclick="saveApproveMemo()" id="btnapprove">Approve</button>
                                        <button class="btn btn-danger" type="button" onclick="saveRejectMemo()" id="btnreject">Reject</button>
                                        <button class="btn  btn-primary" type="button" onclick="savemoreInfoBMemo()" id="btnsubmit">Request Additional Info</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="hiddentext" class="hidden"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<script type="text/javascript" src="../SiteAssets/SSF/js/task_bmemo.js"></script>