﻿<div class="inv bg-white">
    <div class="row">
        <div class="col-md-1 col-xs-3">
            <div class="back-box" onclick="loadTasks()">
                <i class="fa fa-arrow-circle-left fa-back"></i>
            </div>
        </div>
        <div class="col-md-11 col-xs-9 ">
            <h3> Tasks</h3>
            <p class="inv-title bbs-title"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="tabs">
                <li class="tab-link current" data-tab="tab-1">VIEW CLOSE OUTS</li>
                <li class="tab-link hidden" data-tab="tab-2">CLOSE OUT</li>
            </ul>

            <div id="tab-1" class="tab-content current">
                <div class="row">
                    <div class="col-md-12">
                        <table id="tbcloseout" class="table table-responsive" width="100%">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>RefCode</th>                                    
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="tab-2" class="tab-content">
                <div id="hiddentext"></div>
                <div class="row business_case form-horizontal">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Reference No:</label>
                                <span class="bbs-ref"></span>
                            </div>
                            <div class="col-md-push-6 col-md-2">
                                <div class="row iconbl fr">
                                    <div class="col-lg-4 col-sm-4"><a href="javascript:void(0)" title="Enable Edit" onclick="editMemo()"><i class="fa fa fa-edit fa-2x"></i> <span></span></a></div>
                                    <div class="col-lg-4 col-sm-4"><a href="javascript:void(0)" title="print"><i class="fa fa fa-print fa-2x"></i> <span></span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <input type="hidden" id="closeoutid">
                        <table class="table table-bordered table-responsive closeout-form">
                            <thead>
                                <tr>
                                    <th class="w25"></th>
                                    <th class="w25"></th>
                                    <th class="w25"></th>
                                    <th class="w25"></th>
                                    <th class="w25"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center" colspan="3"><b>BUSINESS CASE DOCUMENTS</b></td>
                                    <td colspan="2"><b>Comments</b></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Documents</b></td>
                                    <td class="b_attachments" colspan="4"><span class="text-danger">Missing or N/A <span class="fa fa-exclamation"></span></span></td>
                                </tr>
                                <tr>
                                    <td class="text-center" colspan="5"><b>DECISION MEMO DOCUMENTS</b></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Documents</b></td>
                                    <td class="d_attachments" colspan="4"><span class="text-danger">Missing or N/A <span class="fa fa-exclamation"></span></span></td>
                                </tr>
                                <tr>
                                    <td class="text-center" colspan="5"><b>MODIFICATTION MEMO</b></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Documents</b></td>
                                    <td class="m_attachments" colspan="2"><span class="text-danger">Missing or N/A <span class="fa fa-exclamation"></span></span></td>
                                    <td id="mod_comment" colspan="2"></td>
                                </tr>
                                <tr>
                                    <td class="text-center" colspan="5"><b>PROCUREMENT</b></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Advert</b></td>
                                    <td class="c_advert" colspan="2"><span class="text-danger">Missing or N/A <span class="fa fa-exclamation"></span></span></td>
                                    <td id="advert_comment" colspan="2"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Bid Evaluation Report</b></td>
                                    <td class="c_evaluation_rpt" colspan="2"><span class="text-danger">Missing or N/A <span class="fa fa-exclamation"></span></span></td>
                                    <td id="BER_comment" colspan="2"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Bid Evaluation Panel </b></td>
                                    <td class="c_evaluation_panel" colspan="2"><span class="text-danger">Missing or N/A <span class="fa fa-exclamation"></span></span></td>
                                    <td id="BEP_comment" colspan="2"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Budget</b></td>
                                    <td class="c_budget" colspan="2"><span class="text-danger">Missing or N/A <span class="fa fa-exclamation"></span></span></td>
                                    <td id="proc_budget_comment" colspan="2"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Call For Concept</b></td>
                                    <td class="c_concept" colspan="2"><span class="text-danger">Missing or N/A <span class="fa fa-exclamation"></span></span></td>
                                    <td id="concept_comment" colspan="2"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Call For Proposal </b></td>
                                    <td class="c_proposal" colspan="2"><span class="text-danger">Missing or N/A <span class="fa fa-exclamation"></span></span></td>
                                    <td id="proposal_comment" colspan="2"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Conflict of Interest Report</b></td>
                                    <td class="c_conflict" colspan="2"><span class="text-danger">Missing or N/A <span class="fa fa-exclamation"></span></span></td>
                                    <td id="COI_comment" colspan="2"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Contract </b></td>
                                    <td class="c_contract" colspan="2"><span class="text-danger">Missing or N/A <span class="fa fa-exclamation"></span></span></td>
                                    <td id="contract_comment" colspan="2"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>DDCA</b></td>
                                    <td class="c_ddca" colspan="2"><span class="text-danger">Missing or N/A <span class="fa fa-exclamation"></span></span></td>
                                    <td id="DDCA_comment" colspan="2"></td>
                                </tr>
                                <tr>
                                    <td class="text-center" colspan="5"><b>PERFOMANCE MANAGEMENT</b></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Logframe</b></td>
                                    <td class="c_logframe" colspan="2"><span class="text-danger">Missing or N/A <span class="fa fa-exclamation"></span></span></td>
                                    <td id="logframe_comment" colspan="2"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Budget</b></td>
                                    <td class="c_p_budget" colspan="2"><span class="text-danger">Missing or N/A <span class="fa fa-exclamation"></span></span></td>
                                    <td id="perf_budget_comment" colspan="2"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Risk Register</b></td>
                                    <td class="c_risk_register" colspan="2"><span class="text-danger">Missing or N/A <span class="fa fa-exclamation"></span></span></td>
                                    <td id="risk_comment" colspan="2"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Quarterly Report</b></td>
                                    <td class="c_quarterly_report" colspan="2"><span class="text-danger">Missing or N/A <span class="fa fa-exclamation"></span></span></td>
                                    <td id="quarterly_comment" colspan="2"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Investee Report</b></td>
                                    <td class="c_investee_report" colspan="2"><span class="text-danger">Missing or N/A <span class="fa fa-exclamation"></span></span></td>
                                    <td id="investee_report_comment" colspan="2"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Monthly Report</b></td>
                                    <td class="c_monthly_report" colspan="2"><span class="text-danger">Missing or N/A <span class="fa fa-exclamation"></span></span></td>
                                    <td id="monthly_report_comment" colspan="2"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>TL</b></td>
                                    <td colspan="4">
                                        <b>Reviewed By: </b><span class="c_tl"></span><br />
                                        <b>Reviewed On: </b><span class="c_tl_date"></span><br />
                                        <b>Comments: </b><span class="c_tlcomment"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>SO</b></td>
                                    <td colspan="3">
                                        <b>Reviewed By: </b><span class="c_so"></span><br />
                                        <b>Reviewed On: </b><span class="c_so_date"></span><br />
                                        <b>Comments: </b><span class="c_socomment"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>IM close out signature.</b></td>
                                    <td colspan="4" id="close_comment"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Comment</b></td>
                                    <td colspan="4"><textarea class="form-control" id="c_comment" name="c_comment" placeholder="Comment"></textarea></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td colspan="3">
                                        <button class="btn btn-success" type="button"  onclick="saveApproveCloseOut()">Approve</button>
                                        <button class="btn btn-primary" type="button" onclick="saveRequestAddCloseOut()">Request Additional Info</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../SiteAssets/SSF/js/task_closeout.js"></script>


