<div class="inv bg-white">
    <div class="row">
        <div class="col-md-1 col-xs-3">
            <div class="back-box" onclick="loadReports()">
                <i class="fa fa-arrow-circle-left fa-back"></i>
            </div>
        </div>
        <div class="col-md-11 col-xs-9 ">
            <h3> Reports</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Compliance Report</h3>
            <table class="table table-reponsive table-bordered" id="tbcompliance" width="100%">
                <thead>
                    <tr>
                        <th>RefCode</th>
                        <th>Title</th>
                        <th>State</th>
                        <th>District</th>
                        <th>IM1</th>
                        <th>IM2</th>
                        <th>Advert</th>
                        <th>Bid Evaluation Report</th>
                        <th>Bid Evaluation Panel</th>
                        <th>Proc. Budget</th>
                        <th>Call For Concept</th>
                        <th>Call For Proposal</th>
                        <th>Conflict of Interest Report</th>
                        <th>Contract</th>
                        <th>DDCA</th>
                        <th>Logframe</th>
                        <th>Perf. Budget</th>
                        <th>Quarterly Report</th>
                        <th>Investee Report</th>
                        <th>Monthly Report</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tfoot>
            </table>
        </div>
    </div>  
</div>
<script type="text/javascript" src="../SiteAssets/SSF/js/compliance.js"></script>