<div class="inv bg-white">
    <div class="row">
        <div class="col-md-1 col-xs-3">
            <div class="back-box" onclick="loadTasks()">
                <i class="fa fa-arrow-circle-left fa-back"></i>
            </div>
        </div>
        <div class="col-md-11 col-xs-9 ">
            <h3> Tasks</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="tabs">
                <li class="tab-link current" data-tab="tab-1">VIEW DECISION MEMOS</li>
                <li class="tab-link hidden" data-tab="tab-2">EDIT DECISION MEMOS</li>
            </ul>
            <div id="tab-1" class="tab-content current">
                <div class="row">
                    <div class="col-md-12">
                        <table id="tbdec" class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Districts</th>
                                    <th>State</th>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th>IM(1)</th>
                                    <th>IM(2)</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="tab-2" class="tab-content">
                <div id="hiddentext" class="hidden"></div>
                <div class="row business_case form-horizontal">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Reference No:</label>
                                <span class="bbs-ref"></span>
                            </div>
                            <div class="col-md-push-6 col-md-2">
                                <div class="row iconbl fr">
                                    <div class="col-lg-4 col-sm-4"><a href="javascript:void(0)" title="Enable Edit" onclick="editMemo()"><i class="fa fa fa-edit fa-2x"></i> <span></span></a></div>
                                    <div class="col-lg-4 col-sm-4"><a href="javascript:void(0)" title="Print" onclick="window.print()"><i class="fa fa fa-print fa-2x"></i> <span></span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-bordered table-responsive bbs_case_table">
                            <thead>
                                <tr>
                                    <th class="w25"></th>
                                    <th class="w25"></th>
                                    <th class="w25"></th>
                                    <th class="w25"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="td-title"><b>Business Case Title:</b></td>
                                    <td id="bbs-title"></td>
                                    <td class="td-title" rowspan="3"><b>Output</b></td>
                                    <td id="output" rowspan="3"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Location/Federal State</b></td>
                                    <td id="state"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Location(s)/District(s)</b></td>
                                    <td id="district"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>IM (1)</b></td>
                                    <td id="primaryIM"></td>
                                    <td class="td-title"><b>IM (2)</b></td>
                                    <td id="secondaryIM"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Start Date</b></td>
                                    <td>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class='input-group date' id='datetimepicker1'>
                                                    <input type='text' id="startdate" disabled class="form-control" name="start_date" placeholder="Start Date" value="" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="td-title"><b>End Date</b></td>
                                    <td>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class='input-group date' id='datetimepicker2'>
                                                    <input type='text' id="enddate" disabled class="form-control" name="end_date" placeholder="End Date" value="" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Actual Fund</b></td>
                                    <td>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                $
                                            </div>
                                            <input type="text" disabled name="estimated_fund_ceiling" class="form-control" id="fundceiling" placeholder="Estimated Fund Ceiling" />
                                        </div>
                                    </td>
                                    <td class="td-title"><b>Phone</b></td>
                                    <td>
                                        <input type="text" disabled name="phone" class="form-control" id="phone" placeholder="Phone" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Email</b></td>
                                    <td>
                                        <input type="text" disabled name="email" class="form-control" id="email" placeholder="Email" />
                                    </td>
                                    <td class="td-title"><b>Contact Information</b></td>
                                    <td>
                                        <input type="text" name="address" id="address" class="form-control" disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>Background</b>
                                    </td>
                                    <td colspan="3">
                                        <textarea name="background" id="background" class="form-control" disabled></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>Problem Description</b>
                                    </td>
                                    <td colspan="3">
                                        <textarea name="prob_desc" id="prob_desc" class="form-control" disabled></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>Expected Results</b>
                                    </td>
                                    <td colspan="3">
                                        <textarea name="activities" id="activities" class="form-control" disabled></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>Proposed Actions</b>
                                    </td>
                                    <td colspan="3">
                                        <textarea name="proposed_action" id="proposed_action" class="form-control" disabled></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>Link to SSF II Strategy</b>
                                    </td>
                                    <td colspan="3">
                                        <textarea name="strategy_link" id="strategy_link" class="form-control" disabled></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>Coordination</b>
                                    </td>
                                    <td colspan="3">
                                        <textarea name="coordination" id="coordination" class="form-control" disabled></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>Project Assets</b>
                                    </td>
                                    <td colspan="3">
                                        <textarea name="project_assets" id="project_assets" class="form-control" disabled></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title"><label>Value for Money Summary</label></td>
                                    <td colspan="3">
                                        <textarea name="valuemoney" id="valuemoney" class="form-control" disabled></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title"><label>Risk Assessment Summary</label></td>
                                    <td colspan="3">
                                        <textarea name="risk" id="risk" class="form-control" disabled></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title"><label>Sustainability Summary</label></td>
                                    <td colspan="3">
                                        <textarea name="sustainability" id="sustainability" class="form-control" disabled></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title"><label>Conflict Sensitivity and Gesi Summary</label></td>
                                    <td colspan="3">
                                        <textarea name="conflict" id="conflict" class="form-control" disabled></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title"><label>Recommendation to the Head of SSF</label></td>
                                    <td colspan="3">
                                        <textarea name="recommend" id="recommend" class="form-control" disabled></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title"><label>Attachments</label></td>
                                    <td colspan="3">
                                        <span id="attachments"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title"><label for="comment">Comment</label></td>
                                    <td colspan="3">
                                        <span>TL :</span><span id="tl_comment"></span><br>
                                        <span>SO :</span><span id="so_comment"></span><br>
                                        <textarea name="comment" id="comment" class="form-control"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td colspan="2">
                                        <button class="btn btn-success" type="button" onclick="saveApproveDecisionMemo()">Approve</button>
                                        <button class="btn btn-danger" type="button" onclick="saveRejectDecisionMemo()">Reject</button>
                                        <button class="btn btn-primary" type="button" onclick="saveRequestAddDecisionMemo()">Request Additional Information</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../SiteAssets/SSF/js/task_decmemo.js"></script>
