﻿<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.css">
<ul class="tabs">
    <li class="tab-link current" data-tab="tab-21">LEAVE FORM</li>
    <li class="tab-link" data-tab="tab-22">TRAVEL FORM</li>
    <li class="tab-link" data-tab="tab-23">LEAVE STATUS</li>
    <li class="tab-link" data-tab="tab-24">TRAVEL STATUS</li>
</ul>
<div id="tab-21" class="tab-content current">
    <div class="row mt20">
        <div class="col-md-3">
            <p class="leave-info">Click on the specific days to request leave</p>
            <p class="days-leave">00</p>
            <div class="leave-form" id="leave-form">
                <div class="form-group">
                    <label for="supervisor">Choose Supervisor:</label>
                    <select class="form-control" name="supervisor" id="supervisor" data-placeholder="Choose Supervisor">
                        <option value=""></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="leave-type">Leave Type:</label>
                    <select class="form-control" name="leaveType" id="leave-type" data-placeholder="Choose Leave type">
                        <option value=""></option>
                        <option value="Sick Leave">Sick Leave</option>
                        <option value="Maternity/Paternity Leave">Maternity/Paternity Leave</option>
                        <option value="Annual Leave">Annual Leave</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea class="form-control" rows="5" name="description" id="description"></textarea>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-orange btn-submit-leave">Submit</button>
                </div>
            </div>
        </div>
        <div class="col-md-6" id="leave-cal">
            <div id="calendar"></div>
        </div>
        <div class="col-md-3">
            <p class="days-leave-taken-current-month">00</p>
            <p class="leave-text">Days Taken This Month</p>
            <p class="days-leave-taken">00</p>
            <p class="leave-text">Days Taken Grand Total</p>
        </div>
    </div>
</div>
<div id="tab-22" class="tab-content">
    <div class="row travel-form" id="travel-form">
        <div class="col-md-4">
            <div class="form-group">
                <p class="travel-header">*Travel Details</p>
            </div>
            <div class="form-group">
                <label for="purpose">Purpose:</label>
                <textarea class="form-control" rows="5" id="purpose" name="purpose" placeholder="Purpose of Journey"></textarea>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="dest1">Destination 1:</label>
                        <select class="form-control dest" id="dest1" name="dest1" data-placeholder="Destination">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label for="date1">Date 1:</label>
                    <div class='input-group date datetimepicker' id='datetimepicker'>
                        <input type='text' class="form-control" id="date1" name="date1" placeholder="Date" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="dest2">Destination 2:</label>
                        <select class="form-control dest" id="dest2" name="dest2" data-placeholder="Destination">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label for="date2">Date 2:</label>
                    <div class='input-group date datetimepicker' id='datetimepicker1'>
                        <input type='text' class="form-control" id="date2" name="date2" placeholder="Date" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="dest3">Destination 3:</label>
                        <select class="form-control dest" id="dest3" name="dest3" data-placeholder="Destination">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label for="date3">Date 3:</label>
                    <div class='input-group date datetimepicker' id='datetimepicker2'>
                        <input type='text' class="form-control" id="date3" name="date3" placeholder="Date" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="dest4">Destination 4:</label>
                        <select class="form-control dest" id="dest4" name="dest4" data-placeholder="Destination">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label for="date4">Date 4:</label>
                    <div class='input-group date datetimepicker' id='datetimepicker3'>
                        <input type='text' class="form-control" id="date4" name="date4" placeholder="Date" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <p class="travel-header">*Security Arrangements</p>
            </div>
            <div class="form-group">
                <label for="dests">Destinations:</label>
                <textarea class="form-control" rows="5" id="dests" name="dests" placeholder="Destinations : include all proposed meetings and trips requiring security"></textarea>
            </div>
            <div class="form-group">
                <label for="host-details">Host Details:</label>
                <textarea class="form-control" rows="5" id="host-details" name="hostDetails" placeholder="Details of Host"></textarea>
            </div>
            <div class="form-group">
                <label for="other-info">Other Info:</label>
                <textarea class="form-control" rows="5" id="other-info" name="otherInfo" placeholder="Other Info"></textarea>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <p class="travel-header">*Logistic Details</p>
            </div>
            <div class="form-group">
                <label for="flights">Flights Required:</label>
                <textarea class="form-control" rows="2" id="flights" name="flights" placeholder="Flights Required"></textarea>
            </div>
            <div class="form-group">
                <label for="accommodation">Accomodation Required:</label>
                <textarea class="form-control" rows="2" id="accommodation" name="accommodation" placeholder="Accomodation Required"></textarea>
            </div>
            <div class="form-group">
                <label for="transport">Internal Transport Required:</label>
                <textarea class="form-control" rows="2" id="transport" name="transport" placeholder="Internal Transport Required"></textarea>
            </div>
            <div class="form-group">
                <label for="luggage">Extra Luggage to be Carried:</label>
                <textarea class="form-control" rows="2" id="luggage" name="luggage" placeholder="Extra Luggage to be Carried"></textarea>
            </div>
            <div class="form-group">
                <label for="focal">Focal Person:</label>
                <select class="form-control" id="focal" name="focal" data-placeholder="Focal Person">
                    <option value=""></option>
                </select>
            </div>
        </div>
    </div>
    <div class="row travel-buttons">
        <div class="col-md-4">
            <button type="button" class="btn btn-orange btn-submit-travel w100">Submit</button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-cancel-leave w100">Cancel</button>
        </div>
    </div>
</div>
<div id="tab-23" class="tab-content">
    <iframe id='LeaveFrame' class="MainIframe" src="https://somaliastabilityke.sharepoint.com/sites/ssf2/Lists/Leave%20Requests/AllItems.aspx" frameborder="0" style="overflow:hidden;height:700px;width:100%" width="100%"></iframe>
</div>
<div id="tab-24" class="tab-content">
    <iframe id='TravelFrame' class="MainIframe" src="https://somaliastabilityke.sharepoint.com/sites/ssf2/Lists/TR/AllItems.aspx" frameborder="0" style="overflow:hidden;height:700px;width:100%" width="100%"></iframe>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.js"></script>
<script type="text/javascript" src="../SiteAssets/SSF/js/forms.js"></script>