<ul class="tabs">
    <li class="tab-link current" data-tab="tab-1">VIEW INVESTMENTS</li>
    <li class="tab-link" data-tab="tab-2">VIEW INVESTMENTS DRAFTS</li>
    <li class="tab-link" data-tab="tab-3">VIEW DECISION MEMO DRAFTS</li>
</ul>
<div id="tab-1" class="tab-content current">
    <div class="row">
        <div class="col-md-3 col-xs-12">
            <button type="button" class="btn btn-primary btn-create-memo" onclick="getMemoForm()">Create New</button>
        </div>
        <div class="col-md-9 col-xs-12" id="invfilter">
            <div class="row">
                <div class="col-md-3">
                    <select class="form-control selectpicker" name="imfilter" id="imfilter" data-placeholder="Filter IM"></select>
                </div>
                <div class="col-md-3">
                    <select class="form-control selectpicker" name="statefilter" id="statefilter" data-placeholder="Filter State">
                        <option ></option>
                        <option value="Banadir" data-initial="BR">Banadir</option>
                        <option value="Galmudug State of Somalia" data-initial="GS">Galmudug State of Somalia</option>
                        <option value="Hiraan &amp; Middle Shabelle" data-initial="HM">Hiraan &amp; Middle Shabelle</option>
                        <option value="Jubbaland State of Somalia" data-initial="JS">Jubbaland State of Somalia</option>
                        <option value="Multi-Region" data-initial="MR">Multi-Region</option>
                        <option value="Nationwide" data-initial="NW">Nationwide</option>
                        <option value="Non-Specific" data-initial="NS">Non-Specific</option>
                        <option value="Puntland" data-initial="PL">Puntland</option>
                        <option value="Somaliland" data-initial="SL">Somaliland</option>
                        <option value="Sool &amp; Sanaag" data-initial="SS">Sool &amp; Sanaag</option>
                        <option value="South West State" data-initial="SW">South West State</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select class="form-control selectpicker" name="districtfilter" id="districtfilter" data-placeholder="Filter District">
                        <option ></option>
                        <option value="Abudwak">Abudwak</option>
                        <option value="Adado">Adado</option>
                        <option value="Afmadow">Afmadow</option>
                        <option value="Aluula">Aluula</option>
                        <option value="Baidoa">Baidoa</option>
                        <option value="Baki">Baki</option>
                        <option value="Balacad">Balacad</option>
                        <option value="Baraawe">Baraawe</option>
                        <option value="Bardera">Bardera</option>
                        <option value="Bardheere">Bardheere</option>
                        <option value="Beled Haawo">Beled Haawo</option>
                        <option value="Beletweyne">Beletweyne</option>
                        <option value="Bosaso">Bosaso</option>
                        <option value="Buaale">Buaale</option>
                        <option value="Burao">Burao</option>
                        <option value="Buuhoodle">Buuhoodle</option>
                        <option value="Buuhoodle">Buuhoodle</option>
                        <option value="Ceel Barde">Ceel Barde</option>
                        <option value="Ceeldheer">Ceeldheer</option>
                        <option value="Dhahar">Dhahar</option>
                        <option value="Dhusamareb">Dhusamareb</option>
                        <option value="Dinsoor">Dinsoor</option>
                        <option value="El Buur">El Buur</option>
                        <option value="Galkayo">Galkayo</option>
                        <option value="Garbaharey">Garbaharey</option>
                        <option value="Garowe">Garowe</option>
                        <option value="Godinlabe">Godinlabe</option>
                        <option value="Guriel">Guriel</option>
                        <option value="Harardhere">Harardhere</option>
                        <option value="Hargeisa">Hargeisa</option>
                        <option value="Hobyo">Hobyo</option>
                        <option value="Jowhar">Jowhar</option>
                        <option value="Kismayo">Kismayo</option>
                        <option value="Las Anod">Las Anod</option>
                        <option value="Las Qorey">Las Qorey</option>
                        <option value="Luuq">Luuq</option>
                        <option value="Mogadishu">Mogadishu</option>
                        <option value="Nationwide">Nationwide</option>
                        <option value="Non-Specific">Non-Specific</option>
                        <option value="Qardho">Qardho</option>
                        <option value="Raskamboni">Raskamboni</option>
                        <option value="Warsheikh">Warsheikh</option>
                        <option value="Xudul">Xudul</option>
                    </select>    
                </div>
                <div class="col-md-3">
                    <select class="form-control selectpicker" name="outputfilter" id="outputfilter" data-placeholder="Filter Output 1">
                        <option ></option>
                        <option>Fault-lines for political conflict (FGS-FMS, inter & intra state) are identified and appropriately addressed</option>
                        <option>Enhanced popular participation in governance, particularly for women and excluded communities</option>
                        <option>Increased government visibility and community engagement</option>
                        <option>Reduced community vulnerability to conflict</option>
                        <option>M&E</option>
                        <option>Services</option>
                    </select>
                </div>
            </div> 
        </div>
        <div class="col-md-12"><p></p></div>
    </div>
    <div id="inv-contain">
    </div>
</div>
<div id="tab-2" class="tab-content">
    <div class="row">
        <div class="col-md-12">
            <table id="tbdraftmemo" class="table table-responsive" style="width:100%">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Districts</th>
                        <th>State</th>
                        <th>IM(1)</th>
                        <th>IM(2)</th>
                        <th>My Status</th>
                        <th>TL Status</th>
                        <th>SO Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<div id="tab-3" class="tab-content">
    <div class="row">
        <div class="col-md-12">
            <table id="tbdraftdecmemo" class="table table-responsive" style="width:100%">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Districts</th>
                        <th>State</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>IM(1)</th>
                        <th>IM(2)</th>
                        <th>My Status</th>
                        <th>TL Status</th>
                        <th>SO Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>


<div id="memo-form" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Business Case Memo</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div id="bcmemo">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label> Ref. No: (*)</label>
                                <br />
                                <p id="refno"></p>
                                <input type="hidden" id="bmemoid">
                                <div class="hidden" id="hiddentext"></div>
                                <input type="hidden" name="reference_number" class="form-control refno" id="refno-h"  />
                            </div>
                            <div class="col-md-3">
                                <label> Business Case Title (*)</label>
                                <br />
                                <input type="text" name="title" class="form-control blinput" id="bCasetitle"  required/>
                            </div>                            
                        </div>
                        <div class="form-group editbmemo text-danger" style="display:none">
                            <div class="col-md-6">
                                <label>TL Comments(If Any):</label>
                                <div class="b_tl_comment"></div>
                            </div>
                            <div class="col-md-6">
                                <label>SO Comments(If Any):</label>
                                <div class="b_so_comment"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label"> Contract Type: (*)</label>
                                <select class="form-control selectpicker" name="pillar" id="pillar" data-placeholder="Contract type" required>
                                    <option ></option>
                                    <option value="AGA" data-initial="A">AGA</option>
                                    <option value="Consultancy" data-initial="C">Consultancy</option>
                                    <option value="Works" data-initial="W">Works</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label"> Federal State: (*)</label>
                                <select class="form-control selectpicker" name="state" id="state" data-placeholder="Location(Federal State)" required>
                                    <option ></option>
                                    <option value="Banadir" data-initial="BR">Banadir</option>
                                    <option value="Galmudug State of Somalia" data-initial="GS">Galmudug State of Somalia</option>
                                    <option value="Hiraan &amp; Middle Shabelle" data-initial="HM">Hiraan &amp; Middle Shabelle</option>
                                    <option value="Jubbaland State of Somalia" data-initial="JS">Jubbaland State of Somalia</option>
                                    <option value="Multi-Region" data-initial="MR">Multi-Region</option>
                                    <option value="Nationwide" data-initial="NW">Nationwide</option>
                                    <option value="Non-Specific" data-initial="NS">Non-Specific</option>
                                    <option value="Puntland" data-initial="PL">Puntland</option>
                                    <option value="Somaliland" data-initial="SL">Somaliland</option>
                                    <option value="Sool &amp; Sanaag" data-initial="SS">Sool &amp; Sanaag</option>
                                    <option value="South West State" data-initial="SW">South West State</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label"> Districts:</label>
                                <select class="form-control selectpicker" name="district" id="district" data-placeholder="Location(Districts)" multiple>
                                    <option ></option>
                                    <option value="Abudwak">Abudwak</option>
                                    <option value="Adado">Adado</option>
                                    <option value="Afmadow">Afmadow</option>
                                    <option value="Aluula">Aluula</option>
                                    <option value="Baidoa">Baidoa</option>
                                    <option value="Baki">Baki</option>
                                    <option value="Balacad">Balacad</option>
                                    <option value="Baraawe">Baraawe</option>
                                    <option value="Bardera">Bardera</option>
                                    <option value="Bardheere">Bardheere</option>
                                    <option value="Beled Haawo">Beled Haawo</option>
                                    <option value="Beletweyne">Beletweyne</option>
                                    <option value="Bosaso">Bosaso</option>
                                    <option value="Buaale">Buaale</option>
                                    <option value="Burao">Burao</option>
                                    <option value="Buuhoodle">Buuhoodle</option>
                                    <option value="Buuhoodle">Buuhoodle</option>
                                    <option value="Ceel Barde">Ceel Barde</option>
                                    <option value="Ceeldheer">Ceeldheer</option>
                                    <option value="Dhahar">Dhahar</option>
                                    <option value="Dhusamareb">Dhusamareb</option>
                                    <option value="Dinsoor">Dinsoor</option>
                                    <option value="El Buur">El Buur</option>
                                    <option value="Galkayo">Galkayo</option>
                                    <option value="Garbaharey">Garbaharey</option>
                                    <option value="Garowe">Garowe</option>
                                    <option value="Godinlabe">Godinlabe</option>
                                    <option value="Guriel">Guriel</option>
                                    <option value="Harardhere">Harardhere</option>
                                    <option value="Hargeisa">Hargeisa</option>
                                    <option value="Hobyo">Hobyo</option>
                                    <option value="Jowhar">Jowhar</option>
                                    <option value="Kismayo">Kismayo</option>
                                    <option value="Las Anod">Las Anod</option>
                                    <option value="Las Qorey">Las Qorey</option>
                                    <option value="Luuq">Luuq</option>
                                    <option value="Mogadishu">Mogadishu</option>
                                    <option value="Nationwide">Nationwide</option>
                                    <option value="Non-Specific">Non-Specific</option>
                                    <option value="Qardho">Qardho</option>
                                    <option value="Raskamboni">Raskamboni</option>
                                    <option value="Warsheikh">Warsheikh</option>
                                    <option value="Xudul">Xudul</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label"> Source Of Proposal:</label>
                                <select class="form-control selectpicker" name="source_of_proposal" id="proposalSrc" data-placeholder="Source of Proposal">
                                    <option ></option>
                                    <option value="Federal Government">Federal Government</option>
                                    <option value="Federal Member States">Federal Member States</option>
                                    <option value="Fund Manager">Fund Manager</option>
                                    <option value="Government">Government</option>
                                    <option value="Joint Donor Committee">Joint Donor Committee</option>
                                    <option value="Secretariat Office">Secretariat Office</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label"> Output 1:</label>
                                <select class="form-control selectpicker" name="output" id="output" data-placeholder="Outputs">
                                    <option ></option>
                                    <option>Fault-lines for political conflict (FGS-FMS, inter & intra state) are identified and appropriately addressed</option>
                                    <option>Enhanced popular participation in governance, particularly for women and excluded communities</option>
                                    <option>Increased government visibility and community engagement</option>
                                    <option>Reduced community vulnerability to conflict</option>
                                    <option>M&E</option>
                                    <option>Services</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label"> Output 2:</label>
                                <select class="form-control selectpicker" name="output2" id="output2" data-placeholder="Outputs 2">
                                    <option ></option>
                                    <option>Fault-lines for political conflict (FGS-FMS, inter & intra state) are identified and appropriately addressed</option>
                                    <option>Enhanced popular participation in governance, particularly for women and excluded communities</option>
                                    <option>Increased government visibility and community engagement</option>
                                    <option>Reduced community vulnerability to conflict</option>
                                    <option>M&E</option>
                                    <option>Services</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label"> Output 3:</label>
                                <select class="form-control selectpicker" name="output3" id="output3" data-placeholder="Outputs 3">
                                    <option ></option>
                                    <option>Fault-lines for political conflict (FGS-FMS, inter & intra state) are identified and appropriately addressed</option>
                                    <option>Enhanced popular participation in governance, particularly for women and excluded communities</option>
                                    <option>Increased government visibility and community engagement</option>
                                    <option>Reduced community vulnerability to conflict</option>
                                    <option>M&E</option>
                                    <option>Services</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label"> Estimated Fund Ceiling:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        $
                                    </div>
                                    <input type="text" name="estimated_fund_ceiling" required class="form-control" id="fundceiling" placeholder="Estimated Fund Ceiling" />
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label"> Investee Type:</label>
                                <select class="form-control selectpicker" name="investee_type" id="invtype" data-placeholder="Investee Type">
                                    <option ></option>
                                    <option value="AGA">AGA</option>
                                    <option value="AGA/CONSTRUCTION">AGA/CONSTRUCTION</option>
                                    <option value="AGA/LOAN">AGA/LOAN</option>
                                    <option value="Construction">Construction</option>
                                    <option value="Construction Management">Construction Management</option>
                                    <option value="Direct Invoice">Direct Invoice</option>
                                    <option value="Direct support to Federal Govt">Direct support to Federal Govt</option>
                                    <option value="Independent Consultant">Independent Consultant</option>
                                    <option value="Invoice Based">Invoice Based</option>
                                    <option value="MOU">MOU</option>
                                    <option value="Supplier">Supplier</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label"> Primary IM:</label>
                                <select id="primaryIM" name="primary_im" class="form-control selectpicker" data-placeholder="Primary IM..."
                                        readonly="readonly"></select>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label"> Secondary IM:</label>
                                <select id="secondaryIM" name="secondary_im" class="form-control selectpicker" data-placeholder="Secondary IM...">
                                    <option ></option>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label"> Procurement Cycle:</label>
                                <select id="procurement_cycle" name="procurement_cycle" class="form-control selectpicker" data-placeholder="Procurement Cycle...">
                                    <option ></option>
                                    <option value="AGA Procurement">AGA Procurement</option>
                                    <option value="Direct Procurement">Direct Procurement</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label"> Procurement Types:</label>
                                <br>
                                <label class="radio-inline">
                                    <input type="radio" class="procurement_type" name="procurement_type" value="Limited/Closed">Limited/Closed
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" class="procurement_type" name="procurement_type" value="Open">Open
                                </label>
                            </div>
                        </div>                        
                        <div class="form-group">
                            <div class="col-md-6"><label for="probstat">Problem Statement:</label><textarea name="problem_statement" id="probstat" placeholder="Problem Statement/Analysis" cols="30" rows="5" class="form-control"></textarea></div>
                            <div class="col-md-6"><label for="justification">Justification:</label><textarea name="justification" id="justification" placeholder="Justification &amp; Alignment with SSF Stategy" cols="30" rows="5" class="form-control"></textarea></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-8 col-md-4 col-xs-12">
                                <button class="btn btn-primary save-memo-draft" type="button">Save as Draft</button>
                                <button class="btn btn-orange" id="nextbcmemo" type="button">Next</button>
                            </div>
                        </div>
                    </div>
                    <div class="hidden mm" id="bcmemonext">
                        <div class="form-group editbmemo text-danger" style="display:none">
                            <div class="col-md-6">
                                <label>TL Comments(If Any):</label>
                                <div class="b_tl_comment"></div>
                            </div>
                            <div class="col-md-6">
                                <label>SO Comments(If Any)</label>
                                <div class="b_so_comment"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6"><label for="recomhead">Recommendation:</label><textarea name="recommendation_to_the_head_of_ssf" id="recomhead" placeholder="Recommendation to the head of SSF" cols="30" rows="5" class="form-control"></textarea></div>
                            <div class="col-md-6 editatt" style="display:none">
                                <label>Attachments(if any)</label><div></div>
                            </div>
                        </div>
                        <label for="other1">Other Attachments:</label>
                        <div class="form-group">
                            <div class="col-md-6 inputGroupContainer">
                                <div class="files" id="attachFilesContainer">
                                    <input id="infringementFiles" type="file" class="multi browsebtn" data-fv-file-maxfiles="4">
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group submit-type">
                            <input type="hidden" name="submit-type" id="submit-type">
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-7 col-md-5 col-xs-12">
                                <button class="btn btn-orange" id="bcprevmemo" type="button">Previous</button>
                                <button class="btn btn-primary save-memo-draft" type="button">Save as Draft</button>
                                <button class="btn btn-orange save-memo" type="button">Submit</button>
                                <button class="btn btn-orange update-memo editatt" style="display:none" type="button">Submit</button>
                            </div>
                        </div>
                    </div>
                    <div class="messages text-danger"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="decision-memo-form" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Decision Memo</h4>
            </div>
            <div class="modal-body">
                <div class="dec-content-area">
                    <div class="first-form">
                        <!--begin first div-->
                        <div>
                            <div class="row form-group">
                                <div class="col-md-6 text-danger">
                                    <div>
                                        <label class="dec-label">TL Comment(If Any):</label>
                                    </div>
                                    <div>
                                        <span class="tlcomment_d"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 text-danger">
                                    <div>
                                        <label class="dec-label">SO Comment(If Any):</label>
                                    </div>
                                    <div>
                                        <span class="socomment_d"></span>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <span>
                                        <label>
                                            <b>Ref Code</b>
                                        </label>:
                                        <span class="tl bbs-ref"></span>
                                    </span>
                                </div>
                                <div class="col-md-3">
                                    <span>
                                        <label>
                                            <b>Title</b>
                                        </label>:
                                        <span class="tl bbs-title"></span>
                                    </span>
                                </div>                               
                                <div class="col-md-3">
                                    <span>
                                        <label>
                                            <b>Source of Proposal</b>
                                        </label>:
                                        <span class="tl bbs-prop"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="row form-group">                                
                                <div class="col-md-3">
                                    <span><label><b>Location (Federal State)</b></label>: <span class="tl bbs-state"></span></span>
                                </div>
                                <div class="col-md-3">
                                    <span><label><b>Location (District)</b></label>: <span class="tl bbs-districts"></span></span>
                                </div>
                                <div class="col-md-6">
                                        <span>
                                            <label>
                                                <b>Output</b>
                                            </label>:
                                            <span class="tl bbs-out"></span>
                                        </span>
                                    </div>
                            </div>                           
                            <div class="row form-group">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <label class="control-label">Actual Fund</label>
                                        <input id="fundceiling" class="form-control bbs-fund" value="0" name="estimated_fund">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Start Date</label>
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input type='text' id="startdate" class="form-control" name="start_date" placeholder="Start Date"  />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">End Date</label>
                                        <div class='input-group date' id='datetimepicker2'>
                                            <input type='text' id="enddate" class="form-control" name="end_date" placeholder="End Date"  />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Investee Email </label>
                                    <input type="email" id="email" class="form-control" placeholder="Email Address" name="email" >
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Investee Phone</label>
                                    <input type="text" id="phone" class="form-control" placeholder="Phone Number" name="phone_number" >
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Investee Address</label>
                                    <input type="text" class="form-control" id="address" name="contact" placeholder="Contact Information">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label class="dec-label">Introduction/Background</label>
                                    <textarea class="form-control" id="background" rows="3" name="introduction" placeholder="Introduction/Background"></textarea>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label class="control-label">Problem Description</label>
                                    <textarea class="form-control" id="prob_desc" rows="3" name="prob_desc" placeholder="Problem Description"></textarea>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-offset-6 col-md-8 col-xs-12">
                                    <button class="btn btn-primary" type="button">Save as Draft</button>
                                    <button class="btn btn-orange btn-next-second-form" type="button">Next</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="second-form" style="display: none;">
                        <div class="row form-group">
                            <div class="col-md-6 text-danger">
                                <div>
                                    <label class="dec-label">TL Comment(If Any):</label>
                                </div>
                                <div>
                                    <span class="tlcomment_d"></span>
                                </div>
                            </div>
                            <div class="col-md-6 text-danger">
                                <div>
                                    <label class="dec-label">SO Comment(If Any):</label>
                                </div>
                                <div>
                                    <span class="socomment_d"></span>
                                    <p></p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="dec-label">Expected Results</label>
                                <textarea class="form-control" id="keyact" rows="3" name="key_activities" placeholder="Expected results of proposed investments"></textarea>
                            </div>
                            <div class="col-md-12">
                                <label class="control-label">Proposed Actions</label>
                                <textarea class="form-control" id="proposed_action" rows="3" name="proposed_action" placeholder="Proposed Actions"></textarea>
                            </div>
                            <div class="col-md-12">
                                <label class="control-label">Link to SSF II Strategy</label>
                                <textarea class="form-control" id="strategy_link" rows="3" name="strategy_link" placeholder="Link to Overall SSF II Strategy"></textarea>
                            </div>
                            <div class="col-md-12">
                                <label class="dec-label">Value for Money Summary</label>
                                <textarea class="form-control" id="valuemoney" rows="3" name="value_for_money" placeholder="Value for money summary"></textarea>
                            </div>
                            <div class="col-md-12">
                                <label class="dec-label">Risk Assessment Summary</label>
                                <textarea class="form-control" id="risksummary" rows="3" name="risk_assessment" placeholder="Risk Assessment Summary"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-offset-6 col-md-8 col-xs-12">
                                <button class="btn btn-orange btn-prev-first-form" type="button">Previous</button>
                                <button class="btn btn-primary" type="button">Save as Draft</button>
                                <button class="btn btn-orange btn-next-third-form" type="button">Next</button>
                            </div>
                        </div>
                    </div>
                    <div class="third-form" style="display: none;">
                        <div class="row form-group">
                            <div class="col-md-6 text-danger">
                                <div>
                                    <label class="dec-label">TL Comment(If Any):</label>
                                </div>
                                <div>
                                    <span class="tlcomment_d"></span>
                                </div>
                            </div>
                            <div class="col-md-6 text-danger">
                                <div>
                                    <label class="dec-label">SO Comment(If Any):</label>
                                </div>
                                <div>
                                    <span class="socomment_d"></span>
                                    <p></p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="control-label">Coordination</label>
                                <textarea class="form-control" id="coordination" rows="3" name="coordination" placeholder="Coordination"></textarea>
                            </div>
                            <div class="col-md-12">
                                <label class="control-label">Project Assets</label>
                                <textarea class="form-control" id="project_assets" rows="3" name="project_assets" placeholder="Project Assets"></textarea>
                            </div>
                            <div class="col-md-12">
                                <label class="dec-label">Sustainability Summary</label>
                                <textarea class="form-control" id="sustain" rows="3" name="sustainability_summary" placeholder="Sustainability summary"></textarea>
                            </div>

                            <div class="col-md-12">
                                <label class="dec-label">Conflict Sensitivity and Gesi Summary</label>
                                <textarea class="form-control" id="conflictsens" rows="3" name="conflict_sensitivity" placeholder="Conflict sensitivity and gesi summary"></textarea>
                            </div>

                            <div class="col-md-12 form-group">
                                <label class="dec-label">Recommendations to the Head of SSF [Action Being Requested]</label>
                                <textarea class="form-control" id="recomm" rows="3" name="recommendation" placeholder="Recommendation to the head of SSF"></textarea>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="dec-label">Attachments(If Any):</label>
                                </div>
                                <div class="col-md-12" id="d_attachments"></div>                                
                            </div>                            
                        </div>
                        <div class="row form-group">
                            <div class="col-md-offset-6 col-md-8 col-xs-12">
                                <button class="btn btn-orange btn-prev-second-form" type="button">Previous</button>
                                <button class="btn btn-primary" type="button">Save as Draft</button>
                                <button class="btn btn-orange btn-next-fourth-form" type="button">Next</button>
                            </div>
                        </div>
                    </div>

                    <div class="fourth-form" style="display: none;">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label lfa">LFA TOOLKIT</label>
                                    </div>
                                </div>
                               
                                <div class="direct-dec-memo form-group">
                                    <div class="row">                                        
                                        <div class="col-md-6">
                                            <div class="eva-report-fm-input input-group">
                                                <input id="eval" class="form-control inputFiles" disabled="disabled" placeholder="Bid Evaluation Report">
                                                <div class="fileUpload input-group-addon">
                                                    <span> Browse </span>
                                                    <input id="evaluation_report" type="file" name="evaluation_report" class="upload">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                               
                            </div>
                        </div>
                        <div class="form-group submit-type">
                            <input type="hidden" name="submit-type" id="submit-type">
                        </div>
                        <div class="row form-group">
                            <div class="col-md-offset-6 col-md-8 col-xs-12">
                                <button class="btn btn-orange btn-prev-third-form" type="button">Previous</button>
                                <button class="btn btn-primary" type="button">Save as Draft</button>
                                <button type="button" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </div>
                    <!--end of third div-->
                    <div class="messages"></div>
                </div>
            </div>
        </div>
    </div>
</div>
