<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:300">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jqc-1.12.3/dt-1.10.16/r-2.2.1/datatables.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.7.0/chosen.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.css">
<link rel="stylesheet" media="print" href="../SiteAssets/SSF/css/print.css"> 
<link rel="stylesheet" href="../SiteAssets/SSF/css/formvalidator.css">
<link rel="stylesheet" href="../SiteAssets/SSF/css/app.css">     

<div class="loaderwrapper" style="display: none;">
    <div id="preloader_3"></div>
</div>
<nav class="main-menu">
    <ul>
        <li class="active menu-home">
            <a href="#">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                    Home
                </span>
            </a>
        </li>
        <li class="has-subnav menu-forms">
            <a href="#">
                <i class="fa fa-file-text fa-2x"></i>
                <span class="nav-text">
                    Leave & Travel Requests
                </span>
            </a>
        </li>  
        <li class="has-subnav menu-pending">
            <a href="#">
                <i class="fa fa-hourglass-half fa-2x"></i>
                <span class="nav-text">
                    Pending
                </span>
            </a>
        </li>      
        <!--<li class="has-subnav menu-reports">
            <a href="#">
                <i class="fa fa-bar-chart fa-2x"></i>
                <span class="nav-text">
                    Reports
                </span>
            </a>
        </li>-->
        <li class="has-subnav menu-tasks hidden">
            <a href="#">
                <i class="fa fa-clock-o fa-2x"></i>
                <span class="nav-text">
                    Tasks
                </span>
            </a>
        </li>
        <li class="has-subnav menu-doc-colab">
            <a href="#">
                <i class="fa fa-users fa-2x"></i>
                <span class="nav-text">
                    Document Collaboration
                </span>
            </a>
        </li>
    </ul>
</nav>
<div class="content-area container" id="app">
</div>

<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jqc-1.12.3/dt-1.10.16/r-2.2.1/datatables.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.7.0/chosen.jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/janhommes/o.js/v0.3.7/o.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/formvalidation@0.6.2-dev/dist/js/formValidation.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/formvalidation@0.6.2-dev/dist/js/framework/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-multifile@2.2.2/jquery.MultiFile.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.js"></script>
<script type="text/javascript" src="/_layouts/15/sp.runtime.js"></script>
<script type="text/javascript" src="/_layouts/15/sp.js"></script>

<!-- build:js /js/app.min.js -->
<script type="text/javascript" src="../SiteAssets/SSF/js/batchexecutor.js"></script>
<script type="text/javascript" src="../SiteAssets/SSF/js/jquery.textchange.min.js"></script>
<script type="text/javascript" src="../SiteAssets/SSF/js/app.js"></script>
<!-- endbuild -->