<div class="inv bg-white">
    <div class="row">
        <div class="col-md-1">
            <div class="back-box" onclick="loadHome()">
                <i class="fa fa-arrow-circle-left fa-back"></i>
            </div>
        </div>
        <div class="col-md-11">
            <p class="inv-ref bbs-ref"></p>
            <p class="inv-title bbs-title"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="tabs">
                <li class="tab-link current" data-tab="tab-11">BUSINESS CASE</li>
                <li class="tab-link" data-tab="tab-12">PROCUREMENT</li>
                <li class="tab-link" data-tab="tab-13">PERFORMANCE MANAGEMENT</li>
                <li class="tab-link" data-tab="tab-14">MODIFICATIONS</li>
                <li class="tab-link" data-tab="tab-15">CLOSE OUT</li>
            </ul>
            <div id="tab-11" class="tab-content current">
                <div class="row business_case form-horizontal">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Reference No:</label>
                                <span class="bbs-ref">REFNO</span>
                            </div>
                            <div class="col-md-push-6 col-md-2">
                                <div class="row iconbl fr">
                                    <div class="col-lg-4 col-sm-4">
                                        <a href="javascript:void(0)" title="Print" onclick="window.print();">
                                            <i class="fa fa fa-print fa-2x"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-bordered bbs_case_table">
                            <thead>
                                <tr>
                                    <th class="w25"></th>
                                    <th class="w25"></th>
                                    <th class="w25"></th>
                                    <th class="w25"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="td-title">
                                        <b>Business Case Title:</b>
                                    </td>
                                    <td colspan="3" class="bbs-title"></td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>Source of Proposal</b>
                                    </td>
                                    <td class="bbs-prop"></td>
                                    <td class="td-title">
                                        <b>Output</b>
                                    </td>
                                    <td class="bbs-output"></td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>Location(s)/District(s)</b>
                                    </td>
                                    <td class="bbs-districts"></td>
                                    <td class="td-title">
                                        <b>Output 2</b>
                                    </td>
                                    <td class="bbs-output2"></td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>Location/Federal State</b>
                                    </td>
                                    <td class="bbs-state"></td>
                                    <td class="td-title">
                                        <b>Output 3</b>
                                    </td>
                                    <td class="bbs-output3"></td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>Procurement Type</b>
                                    </td>
                                    <td class="bbs-proc_type"></td>
                                    <td class="td-title">
                                        <b>Estimated Fund Ceiling</b>
                                    </td>
                                    <td>$
                                        <span class="bbs-fund"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>Investment Type</b>
                                    </td>
                                    <td class="bbs-inv_type"></td>
                                    <td class="td-title">
                                        <b>Procurement Cycle</b>
                                    </td>
                                    <td class="bbs-proc_cycle"></td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>IM (1)</b>
                                    </td>
                                    <td class="bbs-im1"></td>
                                    <td class="td-title">
                                        <b>IM (2)</b>
                                    </td>
                                    <td class="bbs-im2"></td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <label>Attachments</label>
                                    </td>
                                    <td class="b_attachments" colspan="3"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label">PROBLEM STATEMENT ANALYSIS</label>
                            </div>
                        </div>
                        <div class="div-textarea form-control bbs-prob">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label">JUSTIFICATION &amp; ALIGNMENT WITH SSF STRATEGY</label>
                            </div>
                        </div>
                        <div class="form-control div-textarea bbs-just">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label">RECOMMENDATION TO THE HEAD OF SSF</label>
                            </div>
                        </div>
                        <div class="form-control div-textarea bbs-rec">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr />
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label">TEAM LEADER </label>
                                <br />
                                <b>Reviewed By: </b>
                                <span class="tl"></span>
                                <br />
                                <b>Reviewed On: </b>
                                <span class="tl_date"></span>
                                <br />
                                <b>Comments: </b>
                                <span class="bbs-tlcomment"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label">SO </label>
                                <br />
                                <b>Reviewed By: </b>
                                <span class="so"></span>
                                <br />
                                <b>Reviewed On: </b>
                                <span class="so_date"></span>
                                <br />
                                <b>Comments: </b>
                                <span class="bbs-socomment"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div id="tab-12" class="tab-content">
                <button type="button" class="btn btn-primary btn-create-memo" onclick="getDecisionMemoForm()">Create New Decision Memo</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadmodal">Upload Documents</button>
                <div class="form-group">
                    <br />
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#tab1">Procurement Documents</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tab2">View Decision Memo</a>
                    </li>
                </ul>
                <div class="tab-content other">
                    <div id="tab1" class="tab-pane fade in active">
                        <div class="row">
                            <div class="col-md-8">
                                <table id="tbprocurement" class="table table-responsive" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Ref. Code</th>
                                            <th>Category</th>
                                            <th>Document Link</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="tab2" class="tab-pane fade">
                        <div class="row dec_memo_form form-horizontal">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-push-6 col-md-2">
                                        <div class="row iconbl fr">
                                            <div class="col-lg-4 col-sm-4">
                                                <a href="javascript:void(0)" onclick="window.print()">
                                                    <i class="fa fa fa-print fa-2x"></i>
                                                    <span></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <table class="table table-bordered table-responsive bbs_case_table">
                                    <thead>
                                        <tr>
                                            <th class="w25"></th>
                                            <th class="w25"></th>
                                            <th class="w25"></th>
                                            <th class="w25"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="td-title">
                                                <b>Business Case Title:</b>
                                            </td>
                                            <td class="bbs-title"></td>
                                            <td class="td-title">
                                                <b>Reference No:</b>
                                            </td>
                                            <td class="bbs-ref"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-title">
                                                <b>Location/Federal State</b>
                                            </td>
                                            <td class="bbs-state"></td>
                                            <td class="td-title">
                                                <b>Location(s)/District(s)</b>
                                            </td>
                                            <td class="bbs-districts"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-title">
                                                <b>IM (1)</b>
                                            </td>
                                            <td class="bbs-im1"></td>
                                            <td class="td-title">
                                                <b>IM (2)</b>
                                            </td>
                                            <td class="bbs-im2"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-title">
                                                <b>Start Date</b>
                                            </td>
                                            <td class="startdate"></td>
                                            <td class="td-title">
                                                <b>End Date</b>
                                            </td>
                                            <td class="enddate"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-title">
                                                <b>Actual Fund</b>
                                            </td>
                                            <td class="bbs-actual"></td>
                                            <td class="td-title">
                                                <b>Phone</b>
                                            </td>
                                            <td class="phone"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-title">
                                                <b>Email</b>
                                            </td>
                                            <td class="email"></td>
                                            <td class="td-title">
                                                <b>Contact Information</b>
                                            </td>
                                            <td class="address"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-title">
                                                <b>Background</b>
                                            </td>
                                            <td class="background"></td>
                                            <td class="td-title">
                                                <b>Key Activities and Expected Results of Proposed Investments</b>
                                            </td>
                                            <td class="activities"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-title">
                                                <label>Value for Money Summary</label>
                                            </td>
                                            <td class="valuemoney"></td>
                                            <td class="td-title">
                                                <label>Risk Assessment Summary</label>
                                            </td>
                                            <td class="risk"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-title">
                                                <label>Sustainability Summary</label>
                                            </td>
                                            <td class="sustainability"></td>
                                            <td class="td-title">
                                                <label>Conflict Sensitivity and Gesi Summary</label>
                                            </td>
                                            <td class="conflict"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-title">
                                                <label>Problem Description</label>
                                            </td>
                                            <td class="prob_desc"></td>
                                            <td class="td-title">
                                                <label>Proposed Actions</label>
                                            </td>
                                            <td class="proposed_action"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-title">
                                                <label>Link to SSF II Strategy</label>
                                            </td>
                                            <td class="strategy_link"></td>
                                            <td class="td-title">
                                                <label>Coordination</label>
                                            </td>
                                            <td class="coordination"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-title">
                                                <label>Project Assets</label>
                                            </td>
                                            <td class="project_assets" colspan="3"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-title">
                                                <label>Attachments</label>
                                            </td>
                                            <td class="d_attachments" colspan="3"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-title">
                                                <b>TEAM LEADER</b>
                                            </td>
                                            <td>
                                                <b>Reviewed By: </b>
                                                <span class="d_tl"></span>
                                                <br />
                                                <b>Reviewed On: </b>
                                                <span class="d_tl_date"></span>
                                                <br />
                                                <b>Comments: </b>
                                                <span class="d_tlcomment"></span>
                                            </td>
                                            <td class="td-title">
                                                <b>SO</b>
                                            </td>
                                            <td>
                                                <b>Reviewed By: </b>
                                                <span class="d_so"></span>
                                                <br />
                                                <b>Reviewed On: </b>
                                                <span class="d_so_date"></span>
                                                <br />
                                                <b>Comments: </b>
                                                <span class="d_socomment"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-13" class="tab-content">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadperfmodal">Upload Documents</button>
                <div class="col-md-12">
                    <br />
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <table id="tbperformance" class="table table-responsive" width="100%">
                            <thead>
                                <tr>
                                    <th>Quarter</th>
                                    <th>Category</th>
                                    <th>Document Link</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="tab-14" class="tab-content">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modmodal">Create Modification Memo</button>
                <div>
                    <br />
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#tabm1">Modification Memo</a>
                    </li>
                    <li>
                        <a style="display:none" data-toggle="tab" href="#tabm2">View Modification Memo</a>
                    </li>
                </ul>
                <div class="tab-content other">
                    <div id="tabm1" class="tab-pane fade in active">
                        <div class="row">
                            <div class="col-md-12">
                                <table id="tbmodmemos" class="table table-responsive" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Revised End Date</th>
                                            <th>Proposed Extension</th>
                                            <th>Budget Increase</th>
                                            <th>Revised Total Value</th>
                                            <th>Disbursement to Date</th>
                                            <th>TL Status</th>
                                            <th>SO Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="tabm2" class="tab-pane fade">
                        <div class="row mod_memo_form form-horizontal">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-push-6 col-md-2">
                                        <div class="row iconbl fr">
                                            <div class="col-lg-4 col-sm-4">
                                                <a href="javascript:void(0)" onclick="window.print()">
                                                    <i class="fa fa fa-print fa-2x"></i>
                                                    <span></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <table class="table table-bordered table-responsive bbs_case_table">
                                    <thead>
                                        <tr>
                                            <th class="w25"></th>
                                            <th class="w25"></th>
                                            <th class="w25"></th>
                                            <th class="w25"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="td-title">
                                                <b>Business Case Title:</b>
                                            </td>
                                            <td class="bbs-title"></td>
                                            <td class="td-title">
                                                <b>Reference No:</b>
                                            </td>
                                            <td class="bbs-ref"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-title">
                                                <b>Location/Federal State</b>
                                            </td>
                                            <td class="bbs-state"></td>
                                            <td class="td-title">
                                                <b>Location(s)/District(s)</b>
                                            </td>
                                            <td class="bbs-districts"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-title">
                                                <b>IM (1)</b>
                                            </td>
                                            <td class="bbs-im1"></td>
                                            <td class="td-title">
                                                <b>IM (2)</b>
                                            </td>
                                            <td class="bbs-im2"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-title">
                                                <b>Start Date</b>
                                            </td>
                                            <td class="startdate"></td>
                                            <td class="td-title">
                                                <b>Revised End Date</b>
                                            </td>
                                            <td class="m_enddate"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-title">
                                                <b>Investee Email</b>
                                            </td>
                                            <td class="m_email"></td>
                                            <td class="td-title">
                                                <b>Investee Phone</b>
                                            </td>
                                            <td class="m_phone"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-title">
                                                <b>Investee Address</b>
                                            </td>
                                            <td class="m_address"></td>
                                            <td class="td-title">
                                                <b>Current Proposed Extension</b>
                                            </td>
                                            <td class="m_extension"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-title">
                                                <b>Proposed Budget Increase</b>
                                            </td>
                                            <td class="m_budget"></td>
                                            <td class="td-title">
                                                <b>Revised Total Value</b>
                                            </td>
                                            <td class="m_total"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-title">
                                                <b>Disbursed to date</b>
                                            </td>
                                            <td class="m_disbursed"></td>
                                            <td class="td-title">
                                                <b>Disbursement % of Original contract</b>
                                            </td>
                                            <td class="m_disburse_percent"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-title">
                                                <b>IP Reports Received</b>
                                            </td>
                                            <td class="m_ip_reports"></td>
                                            <td class="td-title">
                                                <b>Introduction/Background</b>
                                            </td>
                                            <td class="m_background"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-title">
                                                <b>Analysis of Investment Perfomance</b>
                                            </td>
                                            <td class="m_analysis"></td>
                                            <td class="td-title">
                                                <label>Justifications</label>
                                            </td>
                                            <td class="m_justification"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-title">
                                                <label>Recommendation to the Head of SSF</label>
                                            </td>
                                            <td class="m_recommend"></td>
                                            <td class="td-title">
                                                <label>Attachments</label>
                                            </td>
                                            <td class="m_attachments" colspan="3"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-title">
                                                <b>TEAM LEADER</b>
                                            </td>
                                            <td>
                                                <b>Reviewed By: </b>
                                                <span class="m_tl"></span>
                                                <br />
                                                <b>Reviewed On: </b>
                                                <span class="m_tl_date"></span>
                                                <br />
                                                <b>Comments: </b>
                                                <span class="m_tlcomment"></span>
                                            </td>
                                            <td class="td-title">
                                                <b>SO</b>
                                            </td>
                                            <td>
                                                <b>Reviewed By: </b>
                                                <span class="m_so"></span>
                                                <br />
                                                <b>Reviewed On: </b>
                                                <span class="m_so_date"></span>
                                                <br />
                                                <b>Comments: </b>
                                                <span class="m_socomment"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="hiddentext" class="hidden"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-15" class="tab-content">
                <div class="row mod_memo_form form-horizontal">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8">
                                <b>Kindly upload any missing documents in their respective categories.</b>
                            </div>
                            <div class="col-md-push-2 col-md-2">
                                <div class="row iconbl fr">
                                    <div class="col-lg-4 col-sm-4">
                                        <a href="javascript:void(0)" onclick="window.print()">
                                            <i class="fa fa fa-print fa-2x"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <input type="hidden" id="closeoutid">
                        <table class="table table-bordered table-responsive closeout-form">
                            <thead>
                                <tr>
                                    <th class="w25"></th>
                                    <th class="w25"></th>
                                    <th class="w25"></th>
                                    <th class="w25"></th>
                                    <th class="w25"></th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center" colspan="3">
                                        <b>BUSINESS CASE DOCUMENTS</b>
                                    </td>
                                    <td class="text-center" colspan="2">
                                        <b>COMMENTS</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>Documents</b>
                                    </td>
                                    <td class="b_attachments doc" colspan="4">
                                        <span class="text-danger">Missing or N/A
                                            <span class="fa fa-exclamation"></span>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center" colspan="5">
                                        <b>DECISION MEMO</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>Documents</b>
                                    </td>
                                    <td class="d_attachments doc" colspan="4">
                                        <span class="text-danger">Missing or N/A
                                            <span class="fa fa-exclamation"></span>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center" colspan="5">
                                        <b>MODIFICATION MEMO</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>Documents</b>
                                    </td>
                                    <td class="m_attachments doc" colspan="2">
                                        <span class="text-danger">Missing or N/A
                                            <span class="fa fa-exclamation"></span>
                                        </span>
                                    </td>
                                    <td colspan="2" >
                                        <textarea type="text" name="mod_comment" id="mod_comment" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center" colspan="5">
                                        <b>PROCUREMENT</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>Advert</b>
                                    </td>
                                    <td class="c_advert doc" colspan="2">
                                        <span class="text-danger">Missing or N/A
                                            <span class="fa fa-exclamation"></span>
                                        </span>
                                    </td>
                                    <td colspan="2" >
                                        <textarea type="text" name="advert_comment" id="advert_comment" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>Bid Evaluation Report</b>
                                    </td>
                                    <td class="c_evaluation_rpt doc" colspan="2">
                                        <span class="text-danger">Missing or N/A
                                            <span class="fa fa-exclamation"></span>
                                        </span>
                                    </td>
                                    <td colspan="2" >
                                        <textarea type="text" name="BER_comment" id="BER_comment" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>Bid Evaluation Panel </b>
                                    </td>
                                    <td class="c_evaluation_panel doc" colspan="2">
                                        <span class="text-danger">Missing or N/A
                                            <span class="fa fa-exclamation"></span>
                                        </span>
                                    </td>
                                    <td colspan="2" >
                                        <textarea type="text" name="BEP_comment" id="BEP_comment" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>Budget</b>
                                    </td>
                                    <td class="c_budget doc" colspan="2">
                                        <span class="text-danger">Missing or N/A
                                            <span class="fa fa-exclamation"></span>
                                        </span>
                                    </td>
                                    <td colspan="2">
                                        <textarea type="text" name="proc_budget_comment" id="proc_budget_comment" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>Call For Concept</b>
                                    </td>
                                    <td class="c_concept doc" colspan="2">
                                        <span class="text-danger">Missing or N/A
                                            <span class="fa fa-exclamation"></span>
                                        </span>
                                    </td>
                                    <td colspan="2">
                                        <textarea type="text" name="concept_comment" id="concept_comment" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>Call For Proposal </b>
                                    </td>
                                    <td class="c_proposal doc" colspan="2">
                                        <span class="text-danger">Missing or N/A
                                            <span class="fa fa-exclamation"></span>
                                        </span>
                                    </td>
                                    <td colspan="2">
                                        <textarea type="text" name="proposal_comment" id="proposal_comment" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>Conflict of Interest Report</b>
                                    </td>
                                    <td class="c_conflict doc" colspan="2">
                                        <span class="text-danger">Missing or N/A
                                            <span class="fa fa-exclamation"></span>
                                        </span>
                                    </td>
                                    <td colspan="2" >
                                        <textarea type="text" name="COI_comment" id="COI_comment" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>Contract </b>
                                    </td>
                                    <td class="c_contract doc" colspan="2">
                                        <span class="text-danger">Missing or N/A
                                            <span class="fa fa-exclamation"></span>
                                        </span>
                                    </td>
                                    <td colspan="2" >
                                        <textarea type="text" name="contract_comment" id="contract_comment" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>DDCA</b>
                                    </td>
                                    <td class="c_ddca doc" colspan="2">
                                        <span class="text-danger">Missing or N/A
                                            <span class="fa fa-exclamation"></span>
                                        </span>
                                    </td>
                                    <td colspan="2" >
                                        <textarea type="text" name="DDCA_comment" id="DDCA_comment" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>Other Documents</b>
                                    </td>
                                    <td class="proc_other doc" colspan="2">
                                        <span class="text-danger">Missing or N/A
                                            <span class="fa fa-exclamation"></span>
                                        </span>
                                    </td>
                                    <td colspan="2" >
                                        <textarea type="text" name="proc_other_comment" id="proc_other_comment" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title text-center" colspan="5">
                                        <b>PERFOMANCE MANAGEMENT</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>Logframe</b>
                                    </td>
                                    <td class="c_logframe doc" colspan="2">
                                        <span class="text-danger">Missing or N/A
                                            <span class="fa fa-exclamation"></span>
                                        </span>
                                    </td>
                                    <td colspan="2" >
                                        <textarea type="text" name="logframe_comment" id="logframe_comment" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>Budget</b>
                                    </td>
                                    <td class="c_p_budget doc" colspan="2">
                                        <span class="text-danger">Missing or N/A
                                            <span class="fa fa-exclamation"></span>
                                        </span>
                                    </td>
                                    <td colspan="2" >
                                        <textarea type="text" name="perf_budget_comment" id="perf_budget_comment" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>Risk Register</b>
                                    </td>
                                    <td class="c_risk_register doc" colspan="2">
                                        <span class="text-danger">Missing or N/A
                                            <span class="fa fa-exclamation"></span>
                                        </span>
                                    </td>
                                    <td colspan="2" >
                                        <textarea type="text" name="risk_comment" id="risk_comment" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>Quarterly Report</b>
                                    </td>
                                    <td class="c_quarterly_report doc" colspan="2">
                                        <span class="text-danger">Missing or N/A
                                            <span class="fa fa-exclamation"></span>
                                        </span>
                                    </td>
                                    <td colspan="2" >
                                            <textarea type="text" name="quarterly_comment" id="quarterly_comment" class="form-control" />
                                        </td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>Investee Report</b>
                                    </td>
                                    <td class="c_investee_report doc" colspan="2">
                                        <span class="text-danger">Missing or N/A
                                            <span class="fa fa-exclamation"></span>
                                        </span>
                                    </td>
                                    <td colspan="2" >
                                        <textarea type="text" name="investee_report_comment" id="investee_report_comment" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>Monthly Report</b>
                                    </td>
                                    <td class="c_monthly_report doc" colspan="2">
                                        <span class="text-danger">Missing or N/A
                                            <span class="fa fa-exclamation"></span>
                                        </span>
                                    </td>
                                    <td colspan="2" >
                                        <textarea type="text" name="monthly_report_comment" id="monthly_report_comment" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>Other Documents</b>
                                    </td>
                                    <td class="perf_other doc" colspan="2">
                                        <span class="text-danger">Missing or N/A
                                            <span class="fa fa-exclamation"></span>
                                        </span>
                                    </td>
                                    <td colspan="2" >
                                        <textarea type="text" name="perf_other_comment" id="perf_other_comment" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>TL</b>
                                    </td>
                                    <td colspan="4">
                                        <b>Reviewed By: </b>
                                        <span class="c_tl"></span>
                                        <br />
                                        <b>Reviewed On: </b>
                                        <span class="c_tl_date"></span><br/>                                        
                                        <b>Comments: </b>
                                        <span class="c_tlcomment"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>SO</b>
                                    </td>
                                    <td colspan="4">
                                        <b>Reviewed By: </b>
                                        <span class="c_so"></span>
                                        <br />
                                        <b>Reviewed On: </b>
                                        <span class="c_so_date"></span>
                                        <br />
                                        <b>Comments: </b>
                                        <span class="c_socomment"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title">
                                        <b>By signing below you approve on the close of project stated.</b>
                                    </td>
                                    <td colspan="4">
                                        <textarea class="form-control" id="close_comment" name="close_comment" placeholder="Comment"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td colspan="3">
                                        <button class="btn btn-orange" type="button">Submit</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="decision-memo-form" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Decision Memo</h4>
            </div>
            <div class="modal-body">
                <div class="dec-content-area">
                    <div class="first-form">
                        <!--begin first div-->
                        <div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <span>
                                        <label>
                                            <b>Ref Code</b>
                                        </label>:
                                        <span class="bbs-ref"></span>
                                    </span>
                                </div>
                                <div class="col-md-3">
                                    <span>
                                        <label>
                                            <b>Title</b>
                                        </label>:
                                        <span class="bbs-title"></span>
                                    </span>
                                </div>
                                <div class="col-md-3">
                                    <span>
                                        <label>
                                            <b>Source of Proposal</b>
                                        </label>:
                                        <span class="bbs-prop"></span>
                                    </span>
                                </div>
                                <div class="col-md-3">
                                    <span>
                                        <label>
                                            <b>Investee</b>
                                        </label>:
                                        <span class="bbs-inv_type"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <span>
                                        <label>
                                            <b>Location (Federal State)</b>
                                        </label>:
                                        <span class="bbs-state"></span>
                                    </span>
                                </div>
                                <div class="col-md-3">
                                    <span>
                                        <label>
                                            <b>Location (District)</b>
                                        </label>:
                                        <span class="bbs-districts"></span>
                                    </span>
                                </div>
                                <div class="col-md-6">
                                    <span>
                                        <label>
                                            <b>Output</b>
                                        </label>:
                                        <span class="bbs-out"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Actual Fund</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            $
                                        </div>
                                        <input id="fundceiling" class="form-control" name="estimated_fund">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Start Date</label>
                                        <div class="input-group date" id="datetimepicker1">
                                            <input type="text" id="startdate" class="form-control" name="start_date" placeholder="Start Date" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">End Date</label>
                                        <div class="input-group date" id="datetimepicker2">
                                            <input type="text" id="enddate" class="form-control" name="end_date" placeholder="End Date" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Investee Email</label>
                                    <input type="email" id="email" class="form-control" placeholder="Email Address" name="d_email">
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Investee Phone</label>
                                    <input type="text" id="phone" class="form-control" placeholder="Phone Number" name="phone_number">
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Investee Address</label>
                                    <input type="text" class="form-control" id="address" name="contact" placeholder="Contact Information">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label class="control-label">Introduction/Background</label>
                                    <textarea class="form-control" id="background" rows="3" name="introduction" placeholder="Introduction/Background"></textarea>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label class="control-label">Problem Description</label>
                                    <textarea class="form-control" id="prob_desc" rows="3" name="prob_desc" placeholder="Problem Description"></textarea>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-offset-6 col-md-8 col-xs-12">
                                    <button class="btn btn-primary save-dec-memo-draft" type="button">Save as Draft</button>
                                    <button class="btn btn-orange btn-next-second-form" type="button">Next</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="second-form" style="display: none;">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="control-label">Expected Results</label>
                                <textarea class="form-control" id="keyact" rows="3" name="key_activities" placeholder="when logframe is available please detail the outputs here, when it is not yet available please state that the logframe, detailing expected results, will be available following the refine the design stage"></textarea>
                            </div>
                            <div class="col-md-12">
                                <label class="control-label">Proposed Actions</label>
                                <textarea class="form-control" id="proposed_action" rows="3" name="proposed_action" placeholder="Proposed Actions"></textarea>
                            </div>
                            <div class="col-md-12">
                                <label class="control-label">Link to SSF II Strategy</label>
                                <textarea class="form-control" id="strategy_link" rows="3" name="strategy_link" placeholder="Link to Overall SSF II Strategy"></textarea>
                            </div>
                            <div class="col-md-12">
                                <label class="control-label">Value for Money Summary</label>
                                <textarea class="form-control" id="valuemoney" rows="3" name="value_for_money" placeholder="Value for money summary"></textarea>
                            </div>
                            <div class="col-md-12">
                                <label class="control-label">Risk Assessment Summary</label>
                                <textarea class="form-control" id="risksummary" rows="3" name="risk_assessment" placeholder="Risk Assessment Summary"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-offset-6 col-md-8 col-xs-12">
                                <button class="btn btn-orange btn-prev-first-form" type="button">Previous</button>
                                <button class="btn btn-primary save-dec-memo-draft" type="button">Save as Draft</button>
                                <button class="btn btn-orange btn-next-third-form" type="button">Next</button>
                            </div>
                        </div>
                    </div>
                    <div class="third-form" style="display: none;">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="control-label">Coordination</label>
                                <textarea class="form-control" id="coordination" rows="3" name="coordination" placeholder="Coordination"></textarea>
                            </div>
                            <div class="col-md-12">
                                <label class="control-label">Project Assets</label>
                                <textarea class="form-control" id="project_assets" rows="3" name="project_assets" placeholder="Project Assets"></textarea>
                            </div>
                            <div class="col-md-12">
                                <label class="control-label">Sustainability Summary</label>
                                <textarea class="form-control" id="sustain" rows="3" name="sustainability_summary" placeholder="Sustainability summary"></textarea>
                            </div>
                            <div class="col-md-12">
                                <label class="control-label">Conflict Sensitivity and Gesi Summary</label>
                                <textarea class="form-control" id="conflictsens" rows="3" name="conflict_sensitivity" placeholder="Conflict sensitivity and gesi summary"></textarea>
                            </div>
                            <div class="col-md-12 form-group">
                                <label class="control-label">Recommendations to the Head of SSF [Action Being Requested]</label>
                                <textarea class="form-control" id="recomm" rows="3" name="recommendation" placeholder="Recommendation to the head of SSF"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-offset-6 col-md-8 col-xs-12">
                                <button class="btn btn-orange btn-prev-second-form" type="button">Previous</button>
                                <button class="btn btn-primary save-dec-memo-draft" type="button">Save as Draft</button>
                                <button class="btn btn-orange btn-next-fourth-form" type="button">Next</button>
                            </div>
                        </div>
                    </div>
                    <div class="fourth-form" style="display: none;">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <div class="direct-dec-memo form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="eva-report-fm-input input-group">
                                                <input id="eval" class="form-control inputFiles" disabled="disabled" placeholder="Attach Document">
                                                <div class="fileUpload input-group-addon">
                                                    <span> Browse </span>
                                                    <input id="evaluation_report" type="file" name="evaluation_report" class="upload">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group submit-type">
                            <input type="hidden" name="submit-type" id="submit-type">
                        </div>
                        <div class="row form-group">
                            <div class="col-md-offset-6 col-md-8 col-xs-12">
                                <button class="btn btn-orange btn-prev-third-form" type="button">Previous</button>
                                <button class="btn btn-primary save-dec-memo-draft" type="button">Save as Draft</button>
                                <button type="button" class="btn btn-orange btn-submit save-dec-memo">Submit</button>
                            </div>
                        </div>
                    </div>
                    <!--end of third div-->
                    <div class="messages"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="uploadmodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upload Procurement Documents</h4>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-md-4">
                        <span>
                            <label>
                                <b>Ref Code</b>
                            </label>:
                            <span class="bbs-ref"></span>
                        </span>
                    </div>
                    <div class="col-md-4">
                        <span>
                            <label>
                                <b>Title</b>
                            </label>:
                            <span class="bbs-title"></span>
                        </span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <span>
                            <label>
                                <b>Select Document Type</b>
                            </label>:</span>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control selectpicker" name="filetype" id="filetype">
                            <option>Advert</option>
                            <option>Bid Evaluation Report</option>
                            <option>Bid Evaluation Panel</option>
                            <option>Budget</option>
                            <option>Call For Concept</option>
                            <option>Call For Proposal</option>
                            <option>Conflict of interest report</option>
                            <option>Contract</option>
                            <option>DDCA</option>
                            <option>Other</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <span>
                            <label>
                                <b>Select Document</b>
                            </label>:</span>
                    </div>
                    <div class="col-md-6">
                        <div class="eva-report-fm-input input-group">
                            <input class="form-control inputFiles" disabled="disabled" placeholder="Upload File">
                            <div class="fileUpload input-group-addon">
                                <span> Browse </span>
                                <input id="proc_file" type="file" name="proc_file" class="upload">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-orange" type="button" onclick="uploadProc()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="uploadperfmodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upload Performance Documents</h4>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-md-4">
                        <span>
                            <label>
                                <b>Ref Code</b>
                            </label>:
                            <span class="bbs-ref"></span>
                        </span>
                    </div>
                    <div class="col-md-4">
                        <span>
                            <label>
                                <b>Title</b>
                            </label>:
                            <span class="bbs-title"></span>
                        </span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <span>
                            <label>
                                <b>Select Document Type</b>
                            </label>:</span>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control selectpicker" name="filetype" id="pfiletype">
                            <option>Budget</option>
                            <option>Investee Report</option>
                            <option>Logframe</option>
                            <option>Monthly Report</option>
                            <option>Quarterly Report</option>
                            <option>Risk Register</option>
                            <option>Other</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <span>
                            <label>
                                <b>Quarter</b>
                            </label>:</span>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control selectpicker" name="quarter" id="quarter">
                            <option></option>
                            <option>Q1</option>
                            <option>Q2</option>
                            <option>Q3</option>
                            <option>Q4</option>                            
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <span>
                            <label>
                                <b>Select Document</b>
                            </label>:</span>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <input class="form-control inputFiles" disabled="disabled" placeholder="Upload File">
                            <div class="fileUpload input-group-addon">
                                <span> Browse </span>
                                <input id="perf_file" type="file" name="perf_file" class="upload">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-orange" type="button" onclick="uploadPerf()">Submit</button>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="modmodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Modification Memo</h4>
            </div>
            <div class="modal-body" id="modmemo-form">
                <div class="row form-group">
                    <div class="col-md-2">
                        <span>
                            <label>
                                <b>Mod Memo No</b>
                            </label>:
                            <span class="modno">1</span>
                        </span>
                    </div>
                    <div class="col-md-2">
                        <span>
                            <label>
                                <b>Ref Code</b>
                            </label>:
                            <span class="bbs-ref"></span>
                        </span>
                    </div>
                    <div class="col-md-4">
                        <span>
                            <label>
                                <b>Title</b>
                            </label>:
                            <span class="bbs-title"></span>
                        </span>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Revised End Date</label>
                            <div class="input-group date" id="datetimepicker3">
                                <input type="text" id="m_enddate" class="form-control" name="m_enddate" placeholder="End Date" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class="control-label">Email Address of Investee</label>
                        <input type="email" id="m_email" class="form-control" placeholder="Email Address" name="m_email">
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Phone Number of Investee</label>
                        <input type="text" id="m_phone" class="form-control" placeholder="Phone Number" name="m_phone">
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Address of Investee</label>
                        <input type="text" id="m_address" class="form-control" placeholder="Physical Address" name="m_address">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class="control-label">Current Proposed Extension</label>
                        <input type="text" id="extension" class="form-control" placeholder="Proposed Extension" name="extension">
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Proposed Budget Increase</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                $
                            </div>
                            <input type="text" id="budget_increase" class="form-control" placeholder="Budget Increase" name="budget_increase">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Revised Total value</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                $
                            </div>
                            <input type="text" id="total_value" class="form-control" placeholder="Total Value" name="total_value">
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class="control-label">Disbursed To Date</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                $
                            </div>
                            <input type="text" id="disbursed" class="form-control" placeholder="Disbursed Amount" name="disbursed">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Disbursement % of original contract</label>
                        <input type="text" id="disbus_percent" class="form-control" placeholder="% Disbursed" name="disbus_percent">
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">IP Reports Received</label>
                        <input type="text" id="ip_reports" class="form-control" placeholder="No. of IP Reports" name="ip_reports">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label class="control-label">Introduction/Background</label>
                        <textarea class="form-control" id="m_background" rows="3" name="m_background" placeholder="Introduction/Background"></textarea>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Analysis of Investment Performance</label>
                        <textarea class="form-control" id="analysis" rows="3" name="analysis" placeholder="Analysis of Investment Performance"></textarea>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label class="control-label">Justifications</label>
                        <textarea class="form-control" id="m_justification" rows="3" name="m_justification" placeholder="Justification"></textarea>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Recommendation to the Head of SSF</label>
                        <textarea class="form-control" id="m_recommend" rows="3" name="m_recommend" placeholder="Recommendation to the Head of SSF"></textarea>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6 inputGroupContainer">
                        <div class="files" id="m_file_container">
                            <input id="m_file" type="file" class="multi browsebtn">
                        </div>
                    </div>
                    <div class="col-md-6 modatt" style="display:none">
                        <label>Attachments(if any)</label>
                        <div></div>
                    </div>
                </div>

                <input id="modmemoid" type="hidden" />
                <div class="row form-group">
                    <div class="col-md-offset-6 col-md-8 col-xs-12">
                        <button class="btn btn-orange" type="button">Submit</button>
                        <button class="btn btn-primary" type="button" style="display:none">Update</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript" src="../SiteAssets/SSF/js/decmemo.js"></script>