<div class="inv bg-white">
    <div class="row">
        <div class="col-md-1 col-xs-3">
            <div class="back-box" onclick="loadTasks()">
                <i class="fa fa-arrow-circle-left fa-back"></i>
            </div>
        </div>
        <div class="col-md-11 col-xs-9 ">
            <h3> Tasks</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="tabs">
                <li class="tab-link current" data-tab="tab-1">VIEW MODIFICATION MEMOS</li>
                <li class="tab-link hidden" data-tab="tab-2">EDIT MODIFICATION MEMOS</li>
            </ul>

            <div id="tab-1" class="tab-content current">
                <div class="row">
                    <div class="col-md-12">
                        <table id="tbmodmemo" class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Revised End Date</th>
                                    <th>Proposed Extension</th>
                                    <th>Budget Increase</th>
                                    <th>Revised Total Value</th>
                                    <th>Disbursement to Date</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="tab-2" class="tab-content">
                <div id="hiddentext"></div>
                <div class="row business_case form-horizontal">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Reference No:</label>
                                <span class="bbs-ref"></span>
                            </div>
                            <div class="col-md-push-6 col-md-2">
                                <div class="row iconbl fr">
                                    <div class="col-lg-4 col-sm-4"><a href="javascript:void(0)" title="Enable Edit" onclick="editMemo()"><i class="fa fa fa-edit fa-2x"></i> <span></span></a></div>
                                    <div class="col-lg-4 col-sm-4"><a href="javascript:void(0)" title="Print" onclick="window.print()"><i class="fa fa fa-print fa-2x"></i> <span></span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-bordered table-responsive bbs_case_table">
                            <thead>
                                <tr>
                                    <th class="w25"></th>
                                    <th class="w25"></th>
                                    <th class="w25"></th>
                                    <th class="w25"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="td-title"><b>Business Case Title:</b></td>
                                    <td id="bbs-title"></td>
                                    <td class="td-title"><b>Revised End Date</b></td>
                                    <td>
                                        <div class='input-group date' id='datetimepicker3'>
                                            <input type='text' id="m_enddate" class="form-control" name="m_enddate" placeholder="End Date" disabled/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Email Address of Investee</b></td>
                                    <td>
                                        <input type="email" id="m_email" class="form-control" placeholder="Email Address" name="m_email" disabled>
                                    </td>
                                    <td class="td-title"><b>Phone Number of Investee</b></td>
                                    <td>
                                        <input type="text" id="m_phone" class="form-control" placeholder="Phone Number" name="m_phone" disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b> Address of Investee</b></td>
                                    <td>
                                        <input type="text" id="m_address" class="form-control" placeholder="Physical Address" name="m_address" disabled>
                                    </td>
                                    <td class="td-title"><b>Current Proposed Extension</b></td>
                                    <td>
                                        <input type="text" id="extension" class="form-control" placeholder="Proposed Extension" name="extension" disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b> Proposed Budget Increase</b></td>
                                    <td>
                                        <input type="text" id="budget_increase" class="form-control" placeholder="Physical Address" name="budget_increase" disabled>
                                    </td>
                                    <td class="td-title"><b>Revised Total value</b></td>
                                    <td>
                                        <input type="text" id="total_value" class="form-control" placeholder="Total Value" name="total_value" disabled>
                                    </td>
                                </tr>
                                <tr>                                   
                                    <td class="td-title"><b>Disbursed To Date</b></td>
                                    <td>
                                        <input type="text" id="disbursed" class="form-control" placeholder="Disbursed Amount" name="disbursed" disabled>
                                    </td>
                                    <td class="td-title"><b>Disbursement % of original contract</b></td>
                                    <td>
                                        <input type="text" id="disbus_percent" class="form-control" placeholder="% Disbursed" name="disbus_percent" disabled>
                                    </td>
                                </tr>
                                <tr>                                   
                                    <td class="td-title"><b>IP Reports Received</b></td>
                                    <td>
                                        <input type="text" id="ip_reports" class="form-control" placeholder="No. of IP Reports" name="ip_reports" disabled>
                                    </td>
                                    <td class="td-title"><b>Introduction/Background</b></td>
                                    <td>
                                        <textarea class="form-control" id="m_background" rows="3" name="m_background" placeholder="Introduction/Background" disabled></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Analysis of Investment Performance</b></td>
                                    <td>
                                        <textarea class="form-control" id="analysis" rows="3" name="analysis" placeholder="Analysis of Investment Performance" disabled></textarea>
                                    </td>
                                    <td class="td-title"><b>Justifications</b></td>
                                    <td>
                                        <textarea class="form-control" id="m_justification" rows="3" name="m_justification" placeholder="Justification" disabled></textarea>
                                    </td>
                                </tr>
                                <tr>                                   
                                    <td class="td-title"><b>Recommendation to the Head of SSF</b></td>
                                    <td>
                                        <textarea class="form-control" id="m_recommend" rows="3" name="m_recommend" disabled placeholder="Recommendation to the Head of SSF"></textarea>
                                    </td>
                                    <td class="td-title"><label>Attachments</label></td>
                                    <td>
                                        <span id="attachments"></span>
                                    </td>
                                </tr>                               
                                <tr>
                                    <td class="td-title"><label for="comment">Comment</label></td>
                                    <td colspan="3"><textarea name="comment" id="comment" class="form-control" ></textarea></td>
                                </tr>                                
                                <tr>
                                    <td colspan="2"></td>
                                    <td colspan="2">
                                        <button class="btn col-md-3 col-md-offset-1 btn-success" type="button" onclick="saveApproveModificationMemo()" id="btnapprove">Approve</button>
                                        <button class="btn col-md-3 col-md-offset-1 btn-danger" type="button" onclick="saveRejectModificationMemo()" id="btnreject">Reject</button>
                                        <!--<button class="btn col-md-3 col-md-offset-1 btn-orange" type="button" onclick="saveBMemo()" id="btnsubmit">Submit</button>-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="hiddentext" class="hidden"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../SiteAssets/SSF/js/task_modmemo.js"></script>

