﻿<div class="inv bg-white">
    <div class="row">
        <div class="col-md-1">
            <div class="back-box" onclick="loadHome()">
                <i class="fa fa-arrow-circle-left fa-back"></i>
            </div>
        </div>
        <div class="col-md-11">
            <h3> HOME</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="tabs">
                <li class="tab-link current" data-tab="tab-1">VIEW INVESTMENTS</li>
                <li class="tab-link hidden" data-tab="tab-2">INVESTMENT</li>
                <li class="tab-link" data-tab="tab-3">VIEW DECISION MEMOS</li>
                <li class="tab-link hidden" data-tab="tab-4">DECISION MEMO</li>
            </ul>

            <div id="tab-1" class="tab-content current">
                <div class="row">
                    <div class="col-md-12">
                        <table id="tbpendingbmemo" class="table table-responsive" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Districts</th>
                                    <th>State</th>                                    
                                    <th>IM(1)</th>
                                    <th>IM(2)</th>
                                    <th>TL Status</th>
                                    <th>SO Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="tab-2" class="tab-content">
                <div class="row business_case form-horizontal">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">                               
                            </div>
                            <div class="col-md-push-6 col-md-2">
                                <div class="row iconbl fr">
                                    <div class="col-lg-4 col-sm-4"><a href="javascript:void(0)" onclick="window.print();"><i class="fa fa fa-print fa-2x"></i> <span></span></a></div>
                                    <div class="col-lg-4 col-sm-4"><a href="javascript:void(0)"><i class="fa fa fa-download fa-2x"></i><span></span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-bordered bbs_case_table">
                            <thead>
                                <tr>
                                    <th class="w25"></th>
                                    <th class="w25"></th>
                                    <th class="w25"></th>
                                    <th class="w25"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="td-title"><b>Business Case Title:</b></td>
                                    <td class="bbs-title"></td>
                                    <td class="td-title"><b>Reference No:</b></td>
                                    <td class="bbs-ref"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Location/Federal State</b></td>
                                    <td class="bbs-state"></td>
                                    <td class="td-title"><b>Location(s)/District(s)</b></td>
                                    <td class="bbs-districts"></td>
                                </tr>
                                <tr>                                    
                                    <td class="td-title"><b>Output</b></td>
                                    <td class="bbs-output"></td>
                                    <td class="td-title"><b>Output 2</b></td>
                                    <td class="bbs-output2"></td>
                                </tr>                               
                                <tr>                                    
                                    <td class="td-title"><b>Output 3</b></td>
                                    <td class="bbs-output3"></td>
                                    <td class="td-title">
                                    <b>Procurement Type</b></td>
                                    <td class="bbs-proc_type"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Source of Proposal</b></td>
                                    <td class="bbs-prop"></td>
                                    <td class="td-title"><b>Estimated Fund Ceiling</b></td>
                                    <td>$<span class="bbs-fund"></span></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Investment Type</b></td>
                                    <td class="bbs-inv_type"></td>
                                    <td class="td-title"><b>Procurement Cycle</b></td>
                                    <td class="bbs-proc_cycle"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>IM (1)</b></td>
                                    <td class="bbs-im1"></td>
                                    <td class="td-title"><b>IM (2)</b></td>
                                    <td class="bbs-im2"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>PROBLEM STATEMENT ANALYSIS</b></td>
                                    <td class="bbs-prob"></td>
                                    <td class="td-title"><b>JUSTIFICATION &amp; ALIGNMENT WITH SSF STRATEGY</b></td>
                                    <td class="bbs-just"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>RECOMMENDATION TO THE HEAD OF SSF</b></td>
                                    <td class="bbs-rec"></td>
                                    <td class="td-title"><b>Attachments</b></td>
                                    <td class="b_attachments"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>TEAM LEADER</b></td>
                                    <td>
                                            <b>Approved By: </b><span class="tl"></span><br />
                                            <b>Approved On: </b><span class="tl_date"></span><br />
                                            <b>Comments: </b><span class="tlcomment"></span>
                                    </td>
                                    <td class="td-title"><b>SO</b></td>
                                    <td>
                                            <b>Approved By: </b><span class="so"></span><br />
                                            <b>Approved On: </b><span class="so_date"></span><br />
                                            <b>Comments: </b><span class="socomment"></span>
                                    </td>
                                </tr>                               
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div id="tab-3" class="tab-content">
                <div class="row">
                    <div class="col-md-12">
                        <table id="tbpendingdmemo" class="table table-responsive" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Districts</th>
                                    <th>State</th>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th>IM(1)</th>
                                    <th>IM(2)</th>                                    
                                    <th>TL Status</th>
                                    <th>SO Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="tab-4" class="tab-content">
                <div id="hiddentext"></div>
                <div class="row business_case form-horizontal">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">                               
                            </div>
                            <div class="col-md-push-6 col-md-2">
                                <div class="row iconbl fr">                                    
                                    <div class="col-lg-4 col-sm-4"><a href="javascript:void(0)" onclick="window.print()"><i class="fa fa fa-print fa-2x"></i> <span></span></a></div>
                                    <div class="col-lg-4 col-sm-4"><a href="javascript:void(0)"><i class="fa fa fa-download fa-2x"></i><span></span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-bordered table-responsive bbs_case_table">
                            <thead>
                                <tr>
                                    <th class="w25"></th>
                                    <th class="w25"></th>
                                    <th class="w25"></th>
                                    <th class="w25"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="td-title"><b>Business Case Title:</b></td>
                                    <td class="bbs-title"></td>
                                    <td class="td-title"><b>Reference No:</b></td>
                                    <td class="bbs-ref"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Location/Federal State</b></td>
                                    <td class="bbs-state"></td>
                                    <td class="td-title"><b>Location(s)/District(s)</b></td>
                                    <td class="bbs-districts"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>IM (1)</b></td>
                                    <td class="bbs-im1"></td>
                                    <td class="td-title"><b>IM (2)</b></td>
                                    <td class="bbs-im2"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Start Date</b></td>
                                    <td class="startdate"></td>
                                    <td class="td-title"><b>End Date</b></td>
                                    <td class="enddate"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Actual Fund</b></td>
                                    <td class="bbs-fund"></td>
                                    <td class="td-title"><b>Phone</b></td>
                                    <td class="phone"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Email</b></td>
                                    <td class="email"></td>
                                    <td class="td-title"><b>Contact Information</b></td>
                                    <td class="address"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Background</b></td>
                                    <td class="background"></td>
                                    <td class="td-title"><b>Key Activities and Expected Results of Proposed Investments</b></td>
                                    <td class="activities"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><label>Value for Money Summary</label></td>
                                    <td class="valuemoney"></td>
                                    <td class="td-title"><label>Risk Assessment Summary</label></td>
                                    <td class="risk"></td>
                                </tr>                               
                                <tr>
                                    <td class="td-title"><label>Sustainability Summary</label></td>
                                    <td class="sustainability"></td>
                                    <td class="td-title"><label>Conflict Sensitivity and Gesi Summary</label></td>
                                    <td class="conflict"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><label>Attachments</label></td>
                                    <td class="b_attachments" colspan="3"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>TEAM LEADER</b></td>
                                    <td>
                                        <b>Approved By: </b><span class="tl"></span><br />
                                        <b>Approved On: </b><span class="tl_date"></span><br />
                                        <b>Comments: </b><span class="tlcomment"></span>
                                    </td>
                                    <td class="td-title"><b>SO</b></td>
                                    <td>
                                        <b>Approved By: </b><span class="so"></span><br />
                                        <b>Approved On: </b><span class="so_date"></span><br />
                                        <b>Comments: </b><span class="socomment"></span>
                                    </td>
                                </tr>       
                            </tbody>
                        </table>
                        <div id="hiddentext" class="hidden"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../SiteAssets/SSF/js/pending.js"></script>