<div class="row r-tasks">
	<h4 class="text-center und">REPORTS</h4>
	<div class="col-md-3 col-lg-3 col-sm-6" id="bcmemo" onclick="loadCompliance()">
		<div class="card text-center">
			<div class="info">				
				<label>Compliance Report</label>
			</div>
			<div class="bottom btn-primary">View</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="../SiteAssets/SSF/js/report.js"></script>



