 header[role="banner"],footer,.fa,.main-menu,#tawkchat-minified-box,ul.tabs li:not(.current),.inv>.row h3,button,#SearchBox {
    display: none;
}
 .bg-white ul.tabs li.current {
    background: #ececec;
}
.table-bordered {
    border: 1px solid #ddd;
}
.td-title {
    background: #cecece;
}
ul.tabs li.current {
    color: #fd591f;
    border-bottom: 2px solid #fd591f;
}
body { 
	background: white; 
	font-size: 12pt; 
}
.form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    overflow: auto;
}
@page { size: auto;  margin: 0mm; }
 footer {page-break-after: always;}