﻿#titlerow,#pageContentTitle{
	display:none;
}

.contentwrapper{
	margin:0;
}

#s4-bodyContainer{
	background: #e8e8e8;
}

#SearchBox{
	float:none;
	text-align: center;	
}

#sideNavBox,.ms-pub-contentLayout{
	background: none;
}

.ms-pub-contentLayout, #ms-belltown-table{
	padding: 0;
}

#preloader_3{
	position:relative;
	z-index: 99999;
}
#preloader_3:before{
	width:20px;
	height:20px;
	border-radius:20px;
	background:blue;
	content:'';
	position:absolute;
	background:rgb(253,89,31);
	-webkit-animation: preloader_3_before 1.5s infinite ease-in-out;
	-moz-animation: preloader_3_before 1.5s infinite ease-in-out;
	-ms-animation: preloader_3_before 1.5s infinite ease-in-out;
	animation: preloader_3_before 1.5s infinite ease-in-out;
}

#preloader_3:after{
	width:20px;
	height:20px;
	border-radius:20px;
	background:blue;
	content:'';
	position:absolute;
	background:#005591;
	left:22px;
	-webkit-animation: preloader_3_after 1.5s infinite ease-in-out;
	-moz-animation: preloader_3_after 1.5s infinite ease-in-out;
	-ms-animation: preloader_3_after 1.5s infinite ease-in-out;
	animation: preloader_3_after 1.5s infinite ease-in-out;
}

@-webkit-keyframes preloader_3_before {
	0% {-webkit-transform: translateX(0px) rotate(0deg)}
	50% {-webkit-transform: translateX(50px) scale(1.2) rotate(260deg); background:#005591;border-radius:0px;}
	100% {-webkit-transform: translateX(0px) rotate(0deg)}
}
@-webkit-keyframes preloader_3_after {
	0% {-webkit-transform: translateX(0px)}
	50% {-webkit-transform: translateX(-50px) scale(1.2) rotate(-260deg);background:rgb(253,89,31);border-radius:0px;}
	100% {-webkit-transform: translateX(0px)}
}

@-moz-keyframes preloader_3_before {
	0% {-moz-transform: translateX(0px) rotate(0deg)}
	50% {-moz-transform: translateX(50px) scale(1.2) rotate(260deg); background:#005591;border-radius:0px;}
	100% {-moz-transform: translateX(0px) rotate(0deg)}
}
@-moz-keyframes preloader_3_after {
	0% {-moz-transform: translateX(0px)}
	50% {-moz-transform: translateX(-50px) scale(1.2) rotate(-260deg);background:rgb(253,89,31);border-radius:0px;}
	100% {-moz-transform: translateX(0px)}
}


@-ms-keyframes preloader_3_before {
	0% {-ms-transform: translateX(0px) rotate(0deg)}
	50% {-ms-transform: translateX(50px) scale(1.2) rotate(260deg); background:#005591;border-radius:0px;}
	100% {-ms-transform: translateX(0px) rotate(0deg)}
}
@-ms-keyframes preloader_3_after {
	0% {-ms-transform: translateX(0px)}
	50% {-ms-transform: translateX(-50px) scale(1.2) rotate(-260deg);background:rgb(253,89,31);border-radius:0px;}
	100% {-ms-transform: translateX(0px)}
}

@keyframes preloader_3_before {
	0% {transform: translateX(0px) rotate(0deg)}
	50% {transform: translateX(50px) scale(1.2) rotate(260deg); background:#005591;border-radius:0px;}
	100% {transform: translateX(0px) rotate(0deg)}
}
@keyframes preloader_3_after {
	0% {transform: translateX(0px)}
	50% {transform: translateX(-50px) scale(1.2) rotate(-260deg);background:rgb(253,89,31);border-radius:0px;}
	100% {transform: translateX(0px)}
}





.loaderwrapper{
	position:absolute;
	left:46%;
	margin-top:150px;
}


#preloader_2{
	position: relative;
	left: 50%;
	width: 40px;
	height: 40px;
}
#preloader_2 span{
	display:block;
	bottom:0px;
	width: 25px;
	height: 25px;
	background:rgb(253,89,31);
	position:absolute;
}
#preloader_2 span:nth-child(1){
	-webkit-animation: preloader_2_1 1.5s infinite ease-in-out;
	-moz-animation: preloader_2_1 1.5s infinite ease-in-out;
	-ms-animation: preloader_2_1 1.5s infinite ease-in-out;
	animation: preloader_2_1 1.5s infinite ease-in-out;
}
#preloader_2 span:nth-child(2){
	left:25px;
	-webkit-animation: preloader_2_2 1.5s infinite ease-in-out;
	-moz-animation: preloader_2_2 1.5s infinite ease-in-out;
	-ms-animation: preloader_2_2 1.5s infinite ease-in-out;
	animation: preloader_2_2 1.5s infinite ease-in-out;

}
#preloader_2 span:nth-child(3){
	top:-5px;
	-webkit-animation: preloader_2_3 1.5s infinite ease-in-out;
	-moz-animation: preloader_2_3 1.5s infinite ease-in-out;
	-ms-animation: preloader_2_3 1.5s infinite ease-in-out;
	animation: preloader_2_3 1.5s infinite ease-in-out;
}
#preloader_2 span:nth-child(4){
	top:-5px;
	left:25px;
	-webkit-animation: preloader_2_4 1.5s infinite ease-in-out;
	-moz-animation: preloader_2_4 1.5s infinite ease-in-out;
	-ms-animation: preloader_2_4 1.5s infinite ease-in-out;
	animation: preloader_2_4 1.5s infinite ease-in-out;
}

@-webkit-keyframes preloader_2_1 {
	0% {-webkit-transform: translateX(0px) translateY(0px)  rotate(0deg); border-radius:0px;}
	50% {-webkit-transform: translateX(-20px) translateY(-10px) rotate(-180deg); border-radius:20px;background:#3498db;}
	80% {-webkit-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
	100% {-webkit-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
}
@-webkit-keyframes preloader_2_2 {
	0% {-webkit-transform: translateX(0px) translateY(0px)  rotate(0deg);border-radius:0px;}
	50% {-webkit-transform: translateX(20px) translateY(-10px) rotate(180deg);border-radius:20px;background:#f1c40f;}
	80% {-webkit-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
	100% {-webkit-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
}
@-webkit-keyframes preloader_2_3 {
	0% {-webkit-transform: translateX(0px) translateY(0px)  rotate(0deg);border-radius:0px;}
	50% {-webkit-transform: translateX(-20px) translateY(10px) rotate(-180deg); border-radius:20px;background:#2ecc71;}
	80% {-webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);border-radius:0px;}
	100% {-webkit-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
}


@-webkit-keyframes preloader_2_4 {
	0% {-webkit-transform: translateX(0px) translateY(0px)  rotate(0deg); border-radius:0px;}
	50% {-webkit-transform: translateX(20px) translateY(10px) rotate(180deg); border-radius:20px;background:#e74c3c;}
	80% {-webkit-transform: translateX(0px) translateY(0px) rotate(360deg); border-radius:0px;}
	100% {-webkit-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
}
@-moz-keyframes preloader_2_1 {
	0% {-moz-transform: translateX(0px) translateY(0px)  rotate(0deg); border-radius:0px;}
	50% {-moz-transform: translateX(-20px) translateY(-10px) rotate(-180deg); border-radius:20px;background:#3498db;}
	80% {-moz-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
	100% {-moz-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
}
@-moz-keyframes preloader_2_2 {
	0% {-moz-transform: translateX(0px) translateY(0px)  rotate(0deg);border-radius:0px;}
	50% {-moz-transform: translateX(20px) translateY(-10px) rotate(180deg);border-radius:20px;background:#f1c40f;}
	80% {-moz-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
	100% {-moz-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
}
@-moz-keyframes preloader_2_3 {
	0% {-moz-transform: translateX(0px) translateY(0px)  rotate(0deg);border-radius:0px;}
	50% {-moz-transform: translateX(-20px) translateY(10px) rotate(-180deg); border-radius:20px;background:#2ecc71;}
	80% {-moz-transform: translateX(0px) translateY(0px) rotate(-360deg);border-radius:0px;}
	100% {-moz-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
}
@-moz-keyframes preloader_2_4 {
	0% {-moz-transform: translateX(0px) translateY(0px)  rotate(0deg); border-radius:0px;}
	50% {-moz-transform: translateX(20px) translateY(10px) rotate(180deg); border-radius:20px;background:#e74c3c;}
	80% {-moz-transform: translateX(0px) translateY(0px) rotate(360deg); border-radius:0px;}
	100% {-moz-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
}
@-ms-keyframes preloader_2_1 {
	0% {-ms-transform: translateX(0px) translateY(0px)  rotate(0deg); border-radius:0px;}
	50% {-ms-transform: translateX(-20px) translateY(-10px) rotate(-180deg); border-radius:20px;background:#3498db;}
	80% {-ms-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
	100% {-ms-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
}
@-ms-keyframes preloader_2_2 {
	0% {-ms-transform: translateX(0px) translateY(0px)  rotate(0deg);border-radius:0px;}
	50% {-ms-transform: translateX(20px) translateY(-10px) rotate(180deg);border-radius:20px;background:#f1c40f;}
	80% {-ms-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
	100% {-ms-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
}
@-ms-keyframes preloader_2_3 {
	0% {-ms-transform: translateX(0px) translateY(0px)  rotate(0deg);border-radius:0px;}
	50% {-ms-transform: translateX(-20px) translateY(10px) rotate(-180deg); border-radius:20px;background:#2ecc71;}
	80% {-ms-transform: translateX(0px) translateY(0px) rotate(-360deg);border-radius:0px;}
	100% {-ms-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
}
@-ms-keyframes preloader_2_4 {
	0% {-ms-transform: translateX(0px) translateY(0px)  rotate(0deg); border-radius:0px;}
	50% {-ms-transform: translateX(20px) translateY(10px) rotate(180deg); border-radius:20px;background:#e74c3c;}
	80% {-ms-transform: translateX(0px) translateY(0px) rotate(360deg); border-radius:0px;}
	100% {-ms-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
}
